<footer class="main-footer d-flex justify-content-between">
    <strong>Estate Easy &copy; 2021 <a href="https://github.com/khpolash">ZeroByte</a>.</strong>
    <div class="pull-right">
        <b>Version</b> 1.0.0
    </div>
</footer>