@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- =========== Hero Section Start =========== -->
<div class="hero-section-slider">
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" id="hotel-carousel-item1">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title mt-100" data-aos="fade-down" data-aos-duration="1000">
                                <h1>Welcome to Renaissance Holidays.</h1>
                            </div>
                            <div class="text-area mt-10" data-aos="fade-left" data-aos-duration="1000">
                                <h3>Find Flights, Visa, Hotels and Holidays</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="hotel-carousel-item2">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title mt-100" data-aos="fade-down" data-aos-duration="1000">
                                <h1>Welcome to Renaissance Holidays.</h1>
                            </div>
                            <div class="text-area mt-10" data-aos="fade-left" data-aos-duration="1000">
                                <h3>Find Flights, Visa, Hotels and Holidays</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="hotel-carousel-item3">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title mt-100" data-aos="fade-down" data-aos-duration="1000">
                                <h1>Welcome to Renaissance Holidays.</h1>
                            </div>
                            <div class="text-area mt-10" data-aos="fade-left" data-aos-duration="1000">
                                <h3>Find Flights, Visa, Hotels and Holidays</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Hero Section End =========== -->
<!-- =========== Hotel Area Start =========== -->

<div class="hotel-component my-3">
    <div class="card">
        <div class="row d-md-flex justify-content-center align-items-center d-sm-block">
            <div class="col-md-3">
                <div class="hotel-image">
                    <div class="image flex-img">
                        <img loading="lazy" src="~/images/hotel/sea-parel.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-9 my-3">
                <div class="px-3">
                    <div class="titleRatting">
                        <h4>
                            <a href="#" target="_blank" rel="noreferrer">Sea Pearl Beach Resort &amp; Spa Cox's Bazar</a>
                        </h4>
                    </div>
                    <div class="row ">
                        <div class="col-md-8">
                            <div class="star-view-on-map">
                                <div class="hotel-star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                            <div class="view-on-map">
                                <p class="d-flex">
                                    <span class="icon me-1">  <i class="fa-solid fa-location-dot"></i> </span>
                                    <span>Jaliapalong, Inani, Ukhia, Cox's Bazar - 4750, Bangladesh</span>
                                </p>
                            </div><div class="round-icon-collection"></div>
                            <div class="tripCoin ">
                                <ul>
                                    <li>
                                        <img loading="lazy" src="~/images/hotel/tripCoin.png" alt=""><span>594</span>
                                    </li>
                                    <li>
                                        <img loading="lazy" src="~/images/hotel/tripCoinShare.png" alt=""><span>50</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="price-block">
                                <small>Starts from</small> <br>
                                <p class="hotel-price  fz12 text-nowwrap">
                                    <span class="Price mr-xs-0 line-through">
                                        <span class="fw-400">
                                            BDT
                                            19,802
                                        </span>
                                    </span>
                                    <small class="small"> /Night</small>
                                </p>
                                <p class="hotel-price hasDiscount fz16 text-nowwrap">
                                    <span class="Price mr-xs-0">
                                        <span class="percentage d-flex align-items-center">
                                            <img loading="lazy"
                                                 src="~/images/hotel/discount-mono.svg" alt="">
                                            65% OFF
                                        </span>
                                        <span>BDT 6,931</span>
                                        <small class="small"> /Night</small>
                                    </span>
                                </p>
                            </div>
                            <p class="fz14">*Price includes VAT &amp; Tax</p>
                            <button class="btn btn-primary" type="button"> Book Now </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row d-md-flex justify-content-center align-items-center d-sm-block">
            <div class="col-md-3">
                <div class="hotel-image">
                    <div class="image flex-img">
                        <img loading="lazy" src="~/images/hotel/ocen-paradise.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-9 my-3">
                <div class="px-3">
                    <div class="titleRatting">
                        <h4>
                            <a href="#" target="_blank" rel="noreferrer">Ocean Paradise Hotel & Resort</a>
                        </h4>
                    </div>
                    <div class="row ">
                        <div class="col-md-8">
                            <div class="star-view-on-map">
                                <div class="hotel-star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                            <div class="view-on-map">
                                <p class="d-flex">
                                    <span class="icon me-1">  <i class="fa-solid fa-location-dot"></i> </span>
                                    <span>
                                        28-29 Hotel Motel Zone, Kolatoli Road, Cox's Bazar, Bangladesh
                                    </span>
                                </p>
                            </div><div class="round-icon-collection"></div>
                            <div class="tripCoin ">
                                <ul>
                                    <li>
                                        <img loading="lazy" src="~/images/hotel/tripCoin.png" alt=""><span>594</span>
                                    </li>
                                    <li>
                                        <img loading="lazy" src="~/images/hotel/tripCoinShare.png" alt=""><span>50</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="price-block">
                                <small>Starts from</small> <br>
                                <p class="hotel-price  fz12 text-nowwrap">
                                    <span class="Price mr-xs-0 line-through">
                                        <span class="fw-400">
                                            BDT
                                            19,802
                                        </span>
                                    </span>
                                    <small class="small"> /Night</small>
                                </p>
                                <p class="hotel-price hasDiscount fz16 text-nowwrap">
                                    <span class="Price mr-xs-0">
                                        <span class="percentage d-flex align-items-center">
                                            <img loading="lazy"
                                                 src="~/images/hotel/discount-mono.svg" alt="">
                                            65% OFF
                                        </span>
                                        <span>BDT 6,931</span>
                                        <small class="small"> /Night</small>
                                    </span>
                                </p>
                            </div>
                            <p class="fz14">*Price includes VAT &amp; Tax</p>
                            <button class="btn btn-primary" type="button"> Book Now </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row d-md-flex justify-content-center align-items-center d-sm-block">
            <div class="col-md-3">
                <div class="hotel-image">
                    <div class="image flex-img">
                        <img loading="lazy" src="~/images/hotel/hotel-the-cod.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-9 my-3">
                <div class="px-3">
                    <div class="titleRatting">
                        <h4>
                            <a href="#" target="_blank" rel="noreferrer">Hotel The Cox Today</a>
                        </h4>
                    </div>
                    <div class="row ">
                        <div class="col-md-8">
                            <div class="star-view-on-map">
                                <div class="hotel-star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                            <div class="view-on-map">
                                <p class="d-flex">
                                    <span class="icon me-1">  <i class="fa-solid fa-location-dot"></i> </span>
                                    <span>
                                        Plot-7, Road-02 Hotel Motel Zone, Kolatoly Road Cox's Bazar
                                    </span>
                                </p>
                            </div><div class="round-icon-collection"></div>
                            <div class="tripCoin ">
                                <ul>
                                    <li>
                                        <img loading="lazy" src="~/images/hotel/tripCoin.png" alt=""><span>594</span>
                                    </li>
                                    <li>
                                        <img loading="lazy" src="~/images/hotel/tripCoinShare.png" alt=""><span>50</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="price-block">
                                <small>Starts from</small> <br>
                                <p class="hotel-price  fz12 text-nowwrap">
                                    <span class="Price mr-xs-0 line-through">
                                        <span class="fw-400">
                                            BDT
                                            19,802
                                        </span>
                                    </span>
                                    <small class="small"> /Night</small>
                                </p>
                                <p class="hotel-price hasDiscount fz16 text-nowwrap">
                                    <span class="Price mr-xs-0">
                                        <span class="percentage d-flex align-items-center">
                                            <img loading="lazy"
                                                 src="~/images/hotel/discount-mono.svg" alt="">
                                            65% OFF
                                        </span>
                                        <span>BDT 6,931</span>
                                        <small class="small"> /Night</small>
                                    </span>
                                </p>
                            </div>
                            <p class="fz14">*Price includes VAT &amp; Tax</p>
                            <button class="btn btn-primary" type="button"> Book Now </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@* <section>
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid" src="~/images/hotel/sea-parel-1.png" alt="" />
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</section> *@



