<footer class="main-footer">
    <div class="container">
        <div class="row g-4">
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="footer-widgets-single">
                    <h4>Our Address</h4>
                    <div class="office-address">
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-geo-alt-fill"></i>
                            <span>
                                <b>HEAD OFFICE:</b> House#409, Road#29,
                                Level#5/A, Mohakhali DOHS,
                                Dhaka-1212
                            </span>
                        </div>
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-telephone-fill"></i>
                            <span>
                                01958-618221, 01958-618223,
                                01958-618229
                            </span>
                        </div>
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-geo-alt-fill"></i>
                            <span>
                                <b>BRANCH OFFICE:</b> West side 267, BB Road,
                                Railgate, Chashara Police
                                Station, Chashara,
                                Narayanganj
                            </span>
                        </div>
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-telephone-fill"></i>
                            <span>
                                01958-618221, 01958-618223,
                                01958-618229
                            </span>
                        </div>
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-envelope"></i>
                            <span>enjoyrenaissance@gmail.com</span>
                        </div>
                    </div>
                    <div class="d-flex gap-2 footer-social">
                        <span><a href="#" class="facebook"><i class="bi bi-facebook"></i></a></span>
                        <span><a href="#" class="twitter"><i class="bi bi-twitter"></i></a></span>
                        <span><a href="#" class="instagram"><i class="bi bi-instagram"></i></a></span>
                        <span><a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a></span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="footer-widgets-single">
                    <h4>Explore</h4>
                    <ul class="footer-menu">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="#">Term & Conditions</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Hotel Sitemap</a></li>
                        <li><a href="#">Customer Service</a></li>
                        <li><a href="#">Our Mission</a></li>
                        <li><a href="#">Our Vision</a></li>
                    </ul>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="footer-widgets-single">
                    <h4>Services</h4>
                    <ul class="footer-menu">
                        <li><a href="#">Flight</a></li>
                        <li><a href="#">Hotel</a></li>
                        <li><a href="#">Holiday</a></li>
                        <li><a href="#">Visa</a></li>
                        <li><a href="#">Register Account</a></li>
                    </ul>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="footer-widgets-single">
                    <h4>Useful Links</h4>
                    <ul class="footer-menu">
                        <li><a href="#">Travel Guide</a></li>
                        <li><a href="#">Travel Advisory</a></li>
                        <li><a href="#">Visa Guide</a></li>
                        <li><a href="#">Visa Application</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="payment-way">
                        <img src="~/images/payment.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="copyright">
                        <p>Copyright &copy; <a href="#">myFlyte</a> <span>| </span> All rights Reserved.</p>
                        <p>Developed by: <a class="text-capitalize" href="https://www.tactsoftlearning.com/" target="_blank"> Tactsoft Limited </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>