<footer class="main-footer">
    <div class="container">
        <div class="row g-4">
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="footer-widgets-single">
                    <h4>Our Address</h4>
                    <div class="office-address">
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-geo-alt-fill"></i>
                            <span>
                                <b>HEAD OFFICE:</b> House#409, Road#29,
                                Level#5/A, Mohakhali DOHS,
                                Dhaka-1212
                            </span>
                        </div>
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-telephone-fill"></i>
                            <span>
                                01958-618221, 01958-618223,
                                01958-618229
                            </span>
                        </div>
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-geo-alt-fill"></i>
                            <span>
                                <b>BRANCH OFFICE:</b> West side 267, BB Road,
                                Railgate, Chashara Police
                                Station, Chashara,
                                Narayanganj
                            </span>
                        </div>
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-telephone-fill"></i>
                            <span>
                                01958-618221, 01958-618223,
                                01958-618229
                            </span>
                        </div>
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-envelope"></i>
                            <span>enjoyrenaissance@gmail.com</span>
                        </div>
                    </div>
                    <div class="d-flex gap-2 footer-social">
                        <span><a href="https://www.facebook.com/renaissanceholiday" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a></span>
                        <span><a href="#" class="twitter"><i class="bi bi-twitter"></i></a></span>
                        <span><a href="#" class="instagram"><i class="bi bi-instagram"></i></a></span>
                        <span><a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a></span>
                        <span><a href="https://www.youtube.com/@@Information180Degree" target="_blank" class="youtube"><i class="bi bi-youtube"></i></a></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7 col-sm-12">
                <div class="row g-4">
                    <div class="col-lg-5">
                        <div class="row g-4">
                            <!-- Single -->
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="footer-widgets-single">
                                    <h4>Explore</h4>
                                    <ul class="footer-menu">
                                        <li><a href="#">About Us</a></li>
                                        <li><a asp-controller="policy" asp-action="TermsAndConditions">Terms & Conditions</a></li>
                                        <li><a asp-controller="policy" asp-action="PrivacyPolicy">Privacy Policy</a></li>
                                        <li><a asp-controller="policy" asp-action="ReturnAndRefund">Return & Refund Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="footer-widgets-single">
                                    <h4>Services</h4>
                                    <ul class="footer-menu">
                                        <li><a href="#">Flight</a></li>
                                        <li><a href="#">Hotel</a></li>
                                        <li><a href="#">Holiday</a></li>
                                        <li><a href="#">Visa</a></li>
                                        <li><a href="#">Register Account</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="row g-4">
                            <!-- Single -->
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="footer-widgets-single">
                                    <h4>Company Information</h4>
                                    <ul class="footer-menu">
                                        <li>Registered Name: Renaissance Holidays</li>
                                        <li>Trade License Number: TRAD/DNCC/017166/2023</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Single -->
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="footer-widgets-single">
                                    <h4>We accept</h4>
                                    <div class="payment-way">
                                        <div class="p-item">
                                            <img src="~/images/payment/bkash.png" alt="">
                                        </div>
                                        <div class="p-item">
                                            <img src="~/images/payment/upay.png" alt="">
                                        </div>
                                        <div class="p-item">
                                            <img src="~/images/payment/dbbl.jpg" alt="">
                                        </div>
                                        <div class="p-item">
                                            <img src="~/images/payment/nagad.png" alt="">
                                        </div>
                                        <div class="p-item">
                                            <img src="~/images/payment/visa.png" alt="">
                                        </div>
                                        <div class="p-item">
                                            <img src="~/images/payment/mastercard.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="c-map mt-3">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3651.0865534029786!2d90.394489!3d23.779932!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c71ada04ef67%3A0xb3f48175a3f5e8cf!2sRenaissance%20Holidays!5e0!3m2!1sen!2sbd!4v1713768659890!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row g-3">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="accredited-member">
                        <h6>Accredited Member</h6>
                        <div class="d-flex gap-5 py-2 mt-3">
                            <img src="~/images/footer/basis.png" alt="basis">
                            <img src="~/images/footer/pata.png" class="bg-white" alt="pata">
                            <img src="~/images/footer/e-cab.png" alt="e-cab">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="d-flex gap-5">
                        <div>
                            <h6>Approved Agent</h6>
                            <div class="py-2 mt-3">
                                <img src="~/images/footer/biman-bangladesh-airlines.png" alt="biman-bangladesh-airlines">
                            </div>
                        </div>
                        <div>
                            <h6>Verified by</h6>
                            <div class="py-2 mt-3">
                                <img src="~/images/footer/comodo.png" alt="comodo">
                            </div>
                        </div>
                        <div>
                            <h6>Our Partners</h6>
                            <div class="py-2 mt-3">
                                <img src="~/images/footer/google.png" alt="google">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="d-flex gap-5">
                        <div>
                            <h6>Authorised by</h6>
                            <div class="py-2 mt-3">
                                <img src="~/images/footer/iata.png" alt="iata">
                            </div>
                        </div>
                        <div>
                            <h6>Registered at</h6>
                            <div class="py-2 mt-3">
                                <img src="~/images/footer/dun.png" alt="dun">
                            </div>
                        </div>
                        <div>
                            <h6>Certified By</h6>
                            <div class="py-2 mt-3">
                                <img src="~/images/footer/iso-certification.png" alt="iso-certification">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="payment-way">
                        <img class="img-fluid" src="~/images/payment.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="copyright mx-2">
                        <p>Copyright &copy; <a class="text-capitalize" asp-action="Index" asp-controller="Home">Renaissance Holidays</a> <span>| </span> All rights Reserved.</p>
                        <p>Developed by: <a class="text-capitalize" href="https://www.tactsoftlearning.com/" target="_blank"> Tactsoft Limited </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>