@{
    ViewData["Title"] = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section terms-and-condition-bredcumb">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">Privacy Policy</h3>
            </div>
            <div class="mt-10">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Privacy Policy</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== About us Area Start =========== -->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h1 class="fw-bold">Privacy Policy</h1>
                <p class="mt-3">


                    This Privacy Policy is prepared by Renaissance Holidays and whose registered address is House#409, Road#29, Level#5/A, Mohakhali DOHS, Dhaka-1212 We are committed to protecting and preserving the privacy of our visitors when visiting our site or communicating electronically with us.
                    <br />
                    When you use our Website, we collect and store your personal information which is provided by you from time to time. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience. This allows us to provide services and features that most likely meet your needs, and to customize our website to make your experience safer and easier. More importantly, while doing so, we collect personal information from you that we consider necessary for achieving this purpose.
                    <br />
                    Types of Information We May Collect From You

                    We may collect, store and use the following kinds of personal information about individuals who visit and use our website and social media sites:
                    <br />
                    Information You Supply to Us. We usually ask for basic things like your name, address, e-mail address, and phone number, and the details of anyone traveling with you, as well as your payment details. You might also choose to give us extra information about your Trip, such as when you expect to arrive.
                    <br />
                    When you use our services, we also collect information about the device you're using, like your computer or phone, such as your IP address, web browser, and language settings. Sometimes we get information from other people, or automatically collect more information about you.
                    <br />

                    Renaissance Holidays’s services may involve the integration of social media in various ways, which may result in the collection of some of your personal data or the receipt of some of your information by the social media provider.
                    <br />
                    When you use our Service, in case of an error in the app we collect data and information on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.
                    <br />
                    Changes To Your Information:
                    <br />
                    The information you provide us isn’t set in stone. You may review, update, correct or delete the personal information in your profile at any time.
                    <br />
                    If you would like us to remove your information from our records, please create a request at the Contact Us page.
                    To Delete your Facebook login, visit the Contact Us page while logged in via Facebook. You should see a "Delete Facebook Login" option to create a request to remove Facebook login from your account.

                    <br />
                    However, anyone concerned about the data can directly contact us at: <a href="mailto:info@renaissanceholidays.com">info@renaissanceholidays.com</a>


                    <br />

                    Contact
                    <br />
                    Questions, comments, and requests regarding this privacy policy are welcomed and should be addressed to <a href="mailto:info@renaissanceholidays.com">  info@renaissanceholidays.com </a>.


                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="text-end mt-60 ">
                    <img class="img-fluid" src="~/images/Privarcy-policy.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== About us Area End =========== -->
