@{
    ViewData["Title"] = "ReturnAndRefund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section refund-bredcumb">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">Return And Refund </h3>
            </div>
            <div class="mt-10">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Return And Refund </span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== About us Area Start =========== -->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h1 class="fw-bold">Return And Refund</h1>


                <h5 class="my-3">CANCELLATION, RETURN & REFUND POLICY</h5>

                <p>
                    Thanks for shopping at Renaissance Holidays  If you are not entirely satisfied with your purchase, simply return!
                    Refund Modality: The company will refund the money exactly the way it was received. The Refund process will be the same as per the Payment modality. However, claiming refunds for any purchases made through MFS (Mobile Financial Services) e.g. Bkash, Nagad, Rocket etc will incur a service/cash-out charge which has to be borne by the customer. The charge amount will vary according to the MFS availed during the purchase.
                    Returns
                    Bought something online, but it’s not what you expected it to be. Don’t worry, we’re here for you You have 7 to 10 Working days to return an item from the date you received it. To be eligible for a return, your item must be unused and in the same condition that you received it. Here's how to return an item:

                    Call our customer service hot line 09643-112244 with order details for the assistance.
                </p>
                <h5 class="my-3">REQUIREMENT FOR A VALID RETURN:</h5>
                <ul style="margin-left:1rem;">
                    <li style="list-style-type: disc;"> Proof of purchase (order number, invoice, etc)</li>
                    <li style="list-style-type: disc;"> The reason for return has to be valid and return acceptance conditions met (check out below)</li>
                    <li style="list-style-type: disc;">
                        If you find any item missing, or if anything is damaged, please immediately return the package to your
                        delivery agent. After you accept the package, we are unable to receive claims for missing, wrong or
                        defective items.
                    </li>
                </ul>


                <h5 class="my-3">VALID CONDITIONS AND REASONS TO RETURN AN ITEM (General):</h5>
                <ul style="margin-left:1rem;">
                    	<li style="list-style-type: disc;"> Delivery of wrong product</li>
                    	<li style="list-style-type: disc;"> Delivery of defective product</li>
                    	<li style="list-style-type: disc;"> Delivery of the products with missing parts</li>
                    	<li style="list-style-type: disc;"> Incorrect content on the website</li>
                </ul>

                <h5 class="my-3">  Hotel:</h5>
                <p>
                    Renaissance Holidays provides various types of accommodation services. This includes hotels, hostels, serviced apartments, B&Bs, rooms for rent, cottages, etc. By making a booking through Renaissance Holidays, you accept the following hotel's terms and conditions.
                    The information that you see on our website is the information provided by our suppliers and hoteliers. The hotelier can change the rent of their hotel anytime. Although we try to verify each and every piece of information, we cannot be held responsible if any misinformation is given by the suppliers or hoteliers. If you find rooms in a hotel on another website and not Renaissance Holidays, that means we do not have access to the other rooms as hoteliers usually use more than one platform to rent their property.
                    The ratings shown on our website are based on customer reviews provided to us by our suppliers, which may be updated or changed from time to time.
                    Renaissance Holidays reserves the right to cancel a confirmed or booked hotel reservation, for any illegal use of our platform. The illegal use of our platform includes reselling and providing misinformation.
                    For any refund/cancellation/date change related queries kindly email us at <a href="mailto:info@renaissanceholidays.com">info@renaissanceholidays.com</a>
                    In rare cases, we can also cancel the booking if the hotel is out of rooms, but you are still able to book the hotel, We will refund you the charged amount in those cases.
                    Be sure to let the Accommodation know any special requests or requirements you have at check-in. We cannot guarantee to provide with extra requirements after booking confirmation, it will depend on the hotelier to provide that extra services or not.
                    It is your responsibility to check before the booking if the hotel is refundable or not. If the hotel is refundable, the customer will get the refund within 7-10 working days (Depending on the specific hotel and bank policy)
                </p>
                <h5 class="my-3">  Holiday:</h5>
               <p>
                    Package rates are valid as per our mentioned validity dates and for the room category specified. Should the period of stay or room type change, the above rates will not be valid. Hotel rates are not valid during trade fairs, exhibitions, and special events. A surcharge will be levied in those cases.
                    No amendment (name changes, date changes, hotel change etc) will be done once the booking is confirmed.
                    Your Confirmation of any of our holiday plans will ensure that you have read the following Cancelation policy thoroughly and accepted it.
                    For any refund/cancellation/date change related queries kindly email us at <a href="mailto:info@renaissanceholidays.com">info@renaissanceholidays.com</a>
               </p>
                <h5 class="my-3">     Refund Policy -</h5>
                <ul style="margin-left:1rem;">
                    <li style="list-style-type: disc;"> 15 days prior to the Travel Date - 50 % of Total Holiday Cost. </li>
                    <li style="list-style-type: disc;"> 10 days prior to the Travel Date - 75 % of Total Holiday Cost. </li>
                    <li style="list-style-type: disc;"> 05 days prior to the Travel Date - 100% of Holiday Cost will be Non-Refundable. </li>
                </ul>


            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="text-end mt-60">
                    <img class="img-fluid" src="~/images/return-1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== About us Area End =========== -->
