@model FlyNest.Application.ViewModels.VmEntities.VmConfirmBooking;
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-3">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header p-3">
                    <h5>
                        Select your preferred method to Pay
                    </h5>
                    <br />
                    <p>
                        Convenience Fee may vary depending on the payment method
                    </p>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="single-payment" data-method="abbank">
                                <img class="img-fluid payment-method" src="~/images/payment/abbank.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="bbl">
                                <img class="img-fluid payment-method" src="~/images/payment/bbl.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="bkash">
                                <img class="img-fluid payment-method" src="~/images/payment/bkash.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="cbl">
                                <img class="img-fluid payment-method" src="~/images/payment/cbl.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="cblvisa">
                                <img class="img-fluid payment-method" src="~/images/payment/cblvisa.png" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="single-payment" data-method="dbbl">
                                <img class="img-fluid payment-method" src="~/images/payment/dbbl.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="dbl">
                                <img class="img-fluid payment-method" src="~/images/payment/dbl.png" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="single-payment" data-method="dinerclub">
                                <img class="img-fluid payment-method" src="~/images/payment/dinerclub.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="ebl">
                                <img class="img-fluid payment-method" src="~/images/payment/ebl.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="hsbc">
                                <img class="img-fluid payment-method" src="~/images/payment/hsbc.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="lb">
                                <img class="img-fluid payment-method" src="~/images/payment/lb.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="mastercard">
                                <img class="img-fluid payment-method" src="~/images/payment/mastercard.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="midlandbank">
                                <img class="img-fluid payment-method" src="~/images/payment/midlandbank.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="mtb">
                                <img class="img-fluid payment-method" src="~/images/payment/mtb.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="nagad">
                                <img class="img-fluid payment-method" src="~/images/payment/nagad.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="nccbl">
                                <img class="img-fluid payment-method" src="~/images/payment/nccbl.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="scbl">
                                <img class="img-fluid payment-method" src="~/images/payment/scbl.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="upay">
                                <img class="img-fluid payment-method" src="~/images/payment/upay.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="visa">
                                <img class="img-fluid payment-method" src="~/images/payment/visa.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="IBBL">
                                <img class="img-fluid payment-method" src="~/images/payment/IBBL.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="SureCash">
                                <img class="img-fluid payment-method" src="~/images/payment/SureCash.png" />
                            </div>
                        </div><div class="col-md-2">
                            <div class="single-payment" data-method="sibl">
                                <img class="img-fluid payment-method" src="~/images/payment/sibl.png" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-payment" data-method="Ibblibanking">
                                <img class="img-fluid payment-method" src="~/images/payment/Ibblibanking.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 mt-md-0 mt-sm-0 mt-xl-0 mt-2 ">
            <form asp-action="Booking" asp-controller="Holiday" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" value="0" />
                <input type="hidden" asp-for="TourPackageId" />
                <input type="hidden" asp-for="PackageTitle" />
                <input type="hidden" asp-for="PackagePrice" />
                <input type="hidden" asp-for="PaymentMethod" />
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-left">Price Summary </h5>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between my-2">
                            <h6> @Model.PackageTitle  <span class="badge badge-dark" style="color:black;">price per person</span></h6>
                            <h6><b> @Model.PackagePrice </b>  </h6>
                        </div>
                        <br />
                        <div class="form-group row">
                            <label asp-for="TotalPerson" class="col-sm-7 col-form-label"></label>
                            <div class="col-sm-5" style="height: 45px !important;">
                                <input asp-for="TotalPerson" class="form-control form-control-sm" required />
                                <span asp-validation-for="TotalPerson" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="TotalAmount" class="col-sm-7 col-form-label"></label>
                            <div class="col-sm-5" style="height: 45px !important;">
                                <input asp-for="TotalAmount" class="form-control form-control-sm" required readonly />
                                <span asp-validation-for="TotalAmount" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="mt-2">
                            @*<div class="card-title mt-3">Contact Details</div><hr /><br />*@
                            <div class="form-group row">
                                <label asp-for="ClientName" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8" style="height: 45px !important;">
                                    <input asp-for="ClientName" class="form-control form-control-sm" required placeholder="Your full name" />
                                    <span asp-validation-for="ClientName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="ClientEmail" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8" style="height: 45px !important;">
                                    <input asp-for="ClientEmail" class="form-control form-control-sm" placeholder="Email address"/>
                                    <span asp-validation-for="ClientEmail" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="ClientPhone" class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8" style="height: 45px !important;">
                                    <input asp-for="ClientPhone" class="form-control form-control-sm" placeholder="Contact number"/>
                                    <span asp-validation-for="ClientPhone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="my-3" style="font-size:13px;">
                                <div class="form-check">
                                    <input asp-for="TramAndCondition" type="checkbox" class="form-check-input me-2">
                                    <label class="form-check-label" asp-for="TramAndCondition">
                                        Agree to the <a asp-controller="Policy" asp-action="TermsAndConditions">Terms & Condition</a>,
                                        <a asp-controller="Policy" asp-action="PrivacyPolicy">Privacy Policy</a>
                                        and
                                        <a asp-controller="Policy" asp-action="ReturnAndRefund">Refund Policy</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-grid gap-2">
                                <input class="btn btn-primary" type="submit" value="Pay Now" id="payNowBtn" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var paymentMethodImages = document.querySelectorAll('.single-payment');
        var paymentMethodInput = document.getElementById('PaymentMethod');
        paymentMethodImages.forEach(function (image) {
            image.addEventListener('click', function () {
                paymentMethodImages.forEach(function (img) {
                    img.classList.remove('selected-payment');
                });
                this.classList.add('selected-payment');
                paymentMethodInput.value = this.dataset.method;
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var totalPersonInput = document.getElementById('TotalPerson');
        var totalAmountInput = document.getElementById('TotalAmount');
        totalAmountInput.value = parseFloat('@Model.PackagePrice').toFixed(2);
        totalPersonInput.addEventListener('input', function () {
            var packagePrice = parseFloat('@Model.PackagePrice');
            var totalPerson = parseFloat(totalPersonInput.value);
            var totalAmount = packagePrice * totalPerson;
            totalAmountInput.value = totalAmount.toFixed(2);
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        var checkBox = document.getElementById("TramAndCondition");
        var payNowBtn = document.getElementById("payNowBtn");
        checkBox.addEventListener("change", function () {
            payNowBtn.disabled = !checkBox.checked;
        });
    });
</script>
