@{
    ViewData["Title"] = "Dubai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section dubai-breadcrumb">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">Dubai</h3>
            </div>
            <div class="mt-10">
                <a asp-action="International" asp-controller="Holiday">International Packages</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Dubai</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== Small Banner area start =========== -->

<div class="page-template-content">
    <div class="bravo-featured-item style4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex align-items-center mt-3">
                        <div class="image me-3">
                            <img src="~/images/outbound/local-guide.png" class="img-fluid" alt="1,000+ local guides">
                        </div>
                        <div class="content">
                            <h3 class="title">
                                1,000+ local guides
                            </h3>
                            <div class="desc"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center mt-3">
                        <div class="image me-3">
                            <img src="~/images/outbound/experienced.png" class="img-fluid" alt="Experienced">
                        </div>
                        <div class="content">
                            <h3 class="title">
                                Experienced
                            </h3>
                            <div class="desc"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center mt-3">
                        <div class="image me-3">
                            <img src="~/images/outbound/happy-traveler.png" class="img-fluid" alt="96% happy travelers">
                        </div>
                        <div class="content">
                            <h3 class="title">
                                96% happy travelers
                            </h3>
                            <div class="desc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Small Banner area End =========== -->
<!-- =========== Dubai Area Start =========== -->

<div class="all-country-area">
    <div class="row my-3">
        <div class="col-md-3">
            <div class="my-3">
                <div class="card">
                    <div class="single-image">
                        <img class="card-img-top" src="~/images/outbound/dubai/dubai1.webp" alt="Card image cap">
                    </div>
                    <div style="min-height:125px" class="card-body">
                        <h6 class="card-title text-secondary"> <span class="me-2"> <i class="fa-solid fa-location-arrow"></i> </span>  Dubai </h6>
                        <p class="card-text"> Dubai - 3 Nights </p>
                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <div>
                            <span style="color:#F0BA91"> <i class="fa-regular fa-clock"></i> </span>
                        </div>
                        <div>
                            <span style="color:#FFC107"><i class="fa-solid fa-bolt"></i></span> From <span class="text-bold">87,500</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="my-3">
                <div class="card">
                    <div class="single-image">
                        <img class="card-img-top" src="~/images/outbound/dubai/dubai2.jpg" alt="Card image cap">
                    </div>
                    <div style="min-height:125px" class="card-body">
                        <h6 class="card-title text-secondary"> <span class="me-2"> <i class="fa-solid fa-location-arrow"></i> </span>  Dubai </h6>
                        <p class="card-text">
                            Dubai + Abudhabi 4 Nights
                        </p>

                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <div>
                            <span style="color:#F0BA91"> <i class="fa-regular fa-clock"></i> </span>
                        </div>
                        <div>
                            <span style="color:#FFC107"><i class="fa-solid fa-bolt"></i></span> From <span class="text-bold">94,500</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-3">
                <div class="card">
                    <div class="single-image">
                        <img class="card-img-top" src="~/images/outbound/dubai/dubai3.jpg" alt="Card image cap">
                    </div>
                    <div style="min-height:125px" class="card-body">
                        <h6 class="card-title text-secondary"> <span class="me-2"> <i class="fa-solid fa-location-arrow"></i> </span>  Dubai </h6>
                        <p class="card-text">
                            Dubai - 3 Nights + Visa <br />
                            Qatar - 3 Nights <br />
                           
                        </p>

                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <div>
                            <span style="color:#F0BA91"> <i class="fa-regular fa-clock"></i> </span>
                        </div>
                        <div>
                            <span style="color:#FFC107"><i class="fa-solid fa-bolt"></i></span> From <span class="text-bold">1,49,900</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-3">
                <div class="card">
                    <div class="single-image">
                        <img class="card-img-top" src="~/images/outbound/dubai/dubai4.jpeg" alt="Card image cap">
                    </div>
                    <div style="min-height:125px" class="card-body">
                        <h6 class="card-title text-secondary"> <span class="me-2"> <i class="fa-solid fa-location-arrow"></i> </span>  Dubai </h6>
                        <p class="card-text">
                            Dubai - 3 Nights + Visa<br />
                            Uzbekistan - 2 Nights  <br />
                        </p>

                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <div>
                            <span style="color:#F0BA91"> <i class="fa-regular fa-clock"></i> </span>
                        </div>
                        <div>
                            <span style="color:#FFC107"><i class="fa-solid fa-bolt"></i></span> From <span class="text-bold">1,49,900</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-md-3">
            <div class="my-3">
                <div class="card">
                    <div class="single-image">
                        <img class="card-img-top" src="~/images/outbound/dubai/dubai5.jpg" alt="Card image cap">
                    </div>
                    <div style="min-height:125px" class="card-body">
                        <h6 class="card-title text-secondary"> <span class="me-2"> <i class="fa-solid fa-location-arrow"></i> </span>  Dubai </h6>
                        <p class="card-text">
                            Dubai - 3 Nights + Visa<br />
                            Srilanka - 1 Night  <br />
                        </p>

                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <div>
                            <span style="color:#F0BA91"> <i class="fa-regular fa-clock"></i> </span>
                        </div>
                        <div>
                            <span style="color:#FFC107"><i class="fa-solid fa-bolt"></i></span> From <span class="text-bold">1,39,500</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-md-3">
            <div class="my-3">
                <div class="card">
                    <div class="single-image">
                        <img class="card-img-top" src="~/images/outbound/dubai/dubai6.jpeg" alt="Card image cap">
                    </div>
                    <div style="min-height:125px" class="card-body">
                        <h6 class="card-title text-secondary"> <span class="me-2"> <i class="fa-solid fa-location-arrow"></i> </span>  Dubai </h6>
                        <p class="card-text">
                            Dubai - 3 Nights + Visa<br />
                            Srilanka - 2 Nights <br />
                            Maldives - 1 Night
                        </p>

                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <div>
                            <span style="color:#F0BA91"> <i class="fa-regular fa-clock"></i> </span>
                        </div>
                        <div>
                            <span style="color:#FFC107"><i class="fa-solid fa-bolt"></i></span> From <span class="text-bold">1,49,900</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="my-3">
                <div class="card">
                    <div class="single-image">
                        <img class="card-img-top" src="~/images/outbound/dubai/dubai7.jpg" alt="Card image cap">
                    </div>
                    <div style="min-height:125px" class="card-body">
                        <h6 class="card-title text-secondary"> <span class="me-2"> <i class="fa-solid fa-location-arrow"></i> </span>  Dubai </h6>
                        <p class="card-text">
                            Dubai - 3 Nights + Visa<br />
                            Maldives - 2 Nights
                        </p>

                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <div>
                            <span style="color:#F0BA91"> <i class="fa-regular fa-clock"></i> </span>
                        </div>
                        <div>
                            <span style="color:#FFC107"><i class="fa-solid fa-bolt"></i></span> From <span class="text-bold">1,39,500</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@* <div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">#</th>
                                <th class="text-center" scope="col">Package</th>
                                <th class="text-center" scope="col">Day / Night</th>
                                <th class="text-center" scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th >1</th>
                                <th rowspan="3" class="align-middle text-center">Dubai Package (3) </th>
                                <td>2N-Katmundo</td>
                                <td class="align-middle text-center">40,900</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    1N-Katmundo <br/>
                                    1N-Nagarkot
                                </td>
                                <td class="align-middle text-center">44,900</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    1N-Katmundo <br/>
                                    1N-Nagarkot <br/>
                                    2N-Pokhara
                                </td>
                                <td class="align-middle text-center">54,900</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="text-end mt-60 photo">
                    <img src="~/images/about-us.PNG" alt="">
                </div>
            </div>
        </div>
    </div>
</div> *@
<!-- =========== Dubai Area End =========== -->
