@{
    ViewData["Title"] = "International";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- =========== Hero Section Start =========== -->
<div class="hero-section-slider">
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" id="international-carousel-item1">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title mt-100" data-aos="fade-down" data-aos-duration="1000">
                                <h1>Welcome to Renaissance Holidays.</h1>
                            </div>
                            <div class="text-area mt-10" data-aos="fade-left" data-aos-duration="1000">
                                <h3>Find Flights, Visa, Hotels and Holidays</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="international-carousel-item2">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title mt-100" data-aos="fade-down" data-aos-duration="1000">
                                <h1>Welcome to Renaissance Holidays.</h1>
                            </div>
                            <div class="text-area mt-10" data-aos="fade-left" data-aos-duration="1000">
                                <h3>Find Flights, Visa, Hotels and Holidays</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="international-carousel-item3">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title mt-100" data-aos="fade-down" data-aos-duration="1000">
                                <h1>Welcome to Renaissance Holidays.</h1>
                            </div>
                            <div class="text-area mt-10" data-aos="fade-left" data-aos-duration="1000">
                                <h3>Find Flights, Visa, Hotels and Holidays</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Hero Section End =========== -->
<!-- =========== International Package area start =========== -->

<div class="p-destination my-4">

    <div class="section-title mx-4">
        <h2 class="text-center">International Packages</h2>
        <p class="text-justify mt-3">
            Embark on a journey beyond Bangladesh's borders to explore diverse cultures and enchanting landscapes in neighboring countries and beyond. Our expertise lies in arranging worldwide tour packages, with a specialization in destinations like Dubai, Qatar, Saudi Arabia, Maldives, Sri Lanka, Nepal, India, Uzbekistan, Thailand, Singapore, Malaysia, Cambodia, Vietnam, China, Indonesia, and the Philippines. Additionally, we provide packages to European countries including Turkey, Italy, Switzerland, France, Germany, Belgium, and also offer comprehensive USA tour packages
        </p>
    </div>


    <div class="row g-4 mx-4">

        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a asp-action="GetPackagesByCountry" asp-route-id="@item.Id" asp-controller="Holiday">
                        <img src="~/images/countries/@item.Image" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">@item.Name</h6>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- =========== International Package area ends =========== -->
