@{
    ViewData["Title"] = "Vietnam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section vietnam-breadcrumb">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">Vietnam</h3>
            </div>
            <div class="mt-10">
                <a asp-action="International" asp-controller="Holiday">International Packages</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Vietnam</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== Small Banner area start =========== -->

<div class="page-template-content">
    <div class="bravo-featured-item style4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex align-items-center mt-3">
                        <div class="image me-3">
                            <img src="~/images/outbound/local-guide.png" class="img-fluid" alt="1,000+ local guides">
                        </div>
                        <div class="content">
                            <h3 class="title">
                                1,000+ local guides
                            </h3>
                            <div class="desc"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center mt-3">
                        <div class="image me-3">
                            <img src="~/images/outbound/experienced.png" class="img-fluid" alt="Experienced">
                        </div>
                        <div class="content">
                            <h3 class="title">
                                Experienced
                            </h3>
                            <div class="desc"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex align-items-center mt-3">
                        <div class="image me-3">
                            <img src="~/images/outbound/happy-traveler.png" class="img-fluid" alt="96% happy travelers">
                        </div>
                        <div class="content">
                            <h3 class="title">
                                96% happy travelers
                            </h3>
                            <div class="desc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Small Banner area End =========== -->
<!-- =========== Vietnam Area Start =========== -->

<div class="all-country-area">
    <div class="row my-3">
        

        <div class="col-md-3">
            <div class="my-3">
                <div class="card">
                    <div class="single-image">
                        <img class="card-img-top" src="~/images/outbound/vietnam/Vietnam.jpg" alt="Card image cap">
                    </div>
                    <div style="min-height:125px" class="card-body">
                        <h6 class="card-title text-secondary"> <span class="me-2"> <i class="fa-solid fa-location-arrow"></i> </span>  Cambodia-Vietnam </h6>
                        <p class="card-text">
                            Cambodia - 2 Nights </br>
                            Vietnam - 2 Nights
                        </p>

                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <div>
                            <span style="color:#F0BA91"> <i class="fa-regular fa-clock"></i> </span>
                        </div>
                        <div>
                            <span style="color:#FFC107"><i class="fa-solid fa-bolt"></i></span> From <span class="text-bold">1,19,900</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="my-3">
                <div class="card">
                    <div class="single-image">
                        <img class="card-img-top" src="~/images/outbound/cambodia.jpeg" alt="Card image cap">
                    </div>
                    <div style="min-height:125px" class="card-body">
                        <h6 class="card-title text-secondary"> <span class="me-2"> <i class="fa-solid fa-location-arrow"></i> </span>  Thailand-Vietnam-Cambodia </h6>
                        <p class="card-text">
                            Thailand - 2 Nights <br />
                            Vietnam - 2 Nights </br>
                            Cambodia - 2 Nights
                        </p>

                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <div>
                            <span style="color:#F0BA91"> <i class="fa-regular fa-clock"></i> </span>
                        </div>
                        <div>
                            <span style="color:#FFC107"><i class="fa-solid fa-bolt"></i></span> From <span class="text-bold">1,29,900</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>