@model FlyNest.Application.ViewModels.VmEntities.VmAirline
@{
    ViewData["Title"] = "AddEdit";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Airline </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active"> Create Airline</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content ">
    <div class="card w-4 ">
        <div class="card-header">
            <h3 class="card-title">Create Airline  </h3>
            <div class="card-body">
                <form asp-action="AddEdit"  role="form" enctype="multipart/form-data">
                    <div class="modal-body form-horizontal">
                        <div class="row">

                            <div class="col-md-6">
                                <label class="col-form-label">Airline Name </label>
                                <input asp-for="AirlineName" class="form-control" />
                                <span asp-validation-for="AirlineName" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label class=" col-form-label">Contact</label>
                                <input asp-for="ContactInfo" class="form-control" />
                                <span asp-validation-for="ContactInfo" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class=" col-form-label">Website</label>
                                <input asp-for="Website" class="form-control" />
                                <span asp-validation-for="Website" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label class=" col-form-label">Logo</label>
                                <input type="file" asp-for="Logo" class="form-control" name="pictureFile" accept="image/*" id="FileUpload" onchange="PreviewImage()" />
                                <span asp-validation-for="Logo" class="text-danger"></span>
                                <div class="mt-3" style="text-align: end;">
                                    <img src="~/images/airline/@Model.Logo" alt="img" id="UploadFile" class="img-thumbnail" style="width:120px;" />
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class=" col-form-label">Established Date</label>
                            <input asp-for="EstablishedDate" type="date" class="form-control" />
                            <span asp-validation-for="EstablishedDate" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <button type="submit" class="btn btn-sm btn-info"><i class="bi bi-save"></i> Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
 <script>
        function PreviewImage() {
            var input = document.getElementById('FileUpload');
            var image = document.getElementById('UploadFile');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    image.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
}