@model FlyNest.Application.ViewModels.VmEntities.VmCountry

@{
    ViewData["Title"] = "AddEdit";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Country</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Country</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Create Country</h3>
            @*<div class="card-tools">
                <a asp-action="AddEdit" asp-controller="Country" class="btn btn-info btn-sm"><i class="bi bi-plus-square"></i>Add Country</a>
            </div>*@
        </div>
        <div class="card-body">
            <form asp-action="AddEdit" asp-controller="Country" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" class="form-control" />
                <div class="modal-body form-horizontal">
                    <div class="row">
                        <div class="form-group col-md-4 col-md-4">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4 col-md-4">
                            <label asp-for="CapitalCity" class="control-label"></label>
                            <input asp-for="CapitalCity" class="form-control" />
                            <span asp-validation-for="CapitalCity" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="LocalTime" class="control-label"></label>
                            <input asp-for="LocalTime" class="form-control" />
                            <span asp-validation-for="LocalTime" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="TelephoneCode" class="control-label"></label>
                            <input asp-for="TelephoneCode" class="form-control" />
                            <span asp-validation-for="TelephoneCode" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="BankTime" class="control-label"></label>
                            <input asp-for="BankTime" class="form-control" />
                            <span asp-validation-for="BankTime" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="EmbassyAddress" class="control-label"></label>
                            <input asp-for="EmbassyAddress" class="form-control" />
                            <span asp-validation-for="EmbassyAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Language" class="control-label"></label>
                            <input asp-for="Language" class="form-control" />
                            <span asp-validation-for="Language" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Currency" class="control-label"></label>
                            <input asp-for="Currency" class="form-control" />
                            <span asp-validation-for="Currency" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="TourismPlace" class="control-label"></label>
                            <input asp-for="TourismPlace" class="form-control" />
                            <span asp-validation-for="TourismPlace" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text font-italic text-dark mb-0">
                                            File size must be greater than 200KB and less than 2MB.<br />
                                            Dimensions should be between 1200x800 and 1500x1000 pixels.
                                        </p>
                                        <div class="form-group mb-0">
                                            <label asp-for="ImageFile" class="control-label"></label>
                                            <input asp-for="ImageFile" type="file" accept="image/*" class="form-control" id="imageInput" onchange="previewImage()" />
                                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card">
                                    <img id="imagePreview" src="#" alt="Image Preview" class="card-img-top" style="max-height: 200px; display: none;">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group col-md-4">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        function previewImage() {
            var input = document.getElementById('imageInput');
            var preview = document.getElementById('imagePreview');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}