@model FlyNest.Application.ViewModels.VmEntities.VmCountry

@{
    ViewData["Title"] = "AddEdit";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Country</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Country</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Create Country</h3>
            <div class="card-tools">
                <a asp-action="AddEdit" asp-controller="Country" class="btn btn-info btn-sm"><i class="bi bi-plus-square"></i>Add Country</a>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="AddEdit" asp-controller="Country" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" class="form-control" />
                <div class="modal-body form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageFile" class="control-label"></label>
                                <input asp-for="ImageFile" type="file" class="form-control" id="imageInput" onchange="previewImage()" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 100%; max-height: 200px; display: none;" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        function previewImage() {
            var input = document.getElementById('imageInput');
            var preview = document.getElementById('imagePreview');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}