
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">About Us</h3>
            </div>
            <div class="mt-10">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Abou Us</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== About us Area Start =========== -->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h1 class="fw-bold">About us</h1>
                <p class="mt-3">
                    At Renaissance holidays , our commitment is rooted in a wealth of experi-
                    ence and a mission to offer top-tier tours at affordable rates, ensuring an
                    unparalleled vacation experience that immerses you in the essence and
                    highlights of every destination. <br>
                    Our business ethos revolves around cherished family-run values, where
                    exceptional service, integrity, quality, and affordability are woven into
                    every facet of our operations. Traveling with us means joining a family
                    where your joy takes precedence.
                    We firmly believe that exceptional tours blend comprehensive itineraries
                    with inclusive sightseeing, premium accommodations, and remarkable
                    value. As one of the select few travel companies offering this perfect
                    blend, we passionately dedicate ourselves to crafting experiences that
                    leave no detail untouched, ensuring a fulfilling and seamless travel jour-
                    ney. <br>
                    Recognizing the value of your time, we meticulously craft our itineraries
                    leveraging exceptional local insights of each destination. This approach
                    ensures you experience the very best of every place you visit. Beyond
                    that, we foster rich cultural encounters and provide insider insights, cre-
                    ating unforgettable travel memories that linger long after your journey
                    concludes.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="text-end mt-60 photo">
                    <img src="~/images/about-us.PNG" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== About us Area End =========== -->
