@model IEnumerable<FlyNest.Application.ViewModels.VmEntities.VmImageGallery>

@{
    ViewData["Title"] = "ImageGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section image-gallery">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">Gallery</h3>
            </div>
            <div class="mt-10">
                <a href="index.html">Home</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Gallery</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== Photo Gallery Start =========== -->
<div class="container mt-5 mb-5">
    <div class="p-gallery">
        <div class="row g-3">

            @foreach (var item in Model)
            {
                <!-- Single -->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card">
                        <a class="pd-3" href="~/images/gallery/@item.ImageUrl">
                            <img src="~/images/gallery/@item.ImageUrl">
                        </a>
                        <div class="card-body d-flex justify-content-between">
                            <span class="d-block">@item.EventTitle</span>
                            <span class="d-block">@item.EventDate.ToShortDateString()</span>
                        </div>
                    </div>
                </div>

            }


        </div>
    </div>
</div>
<!-- =========== Photo Gallery End =========== -->


@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('.pd-3').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                },
            });
            /* ====Magnific-Popup End==== */
        })
    </script>
}