@model FlyNest.Application.ViewModels.VmEntities.Search.VmReservation
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .fs-7 {
        font-size: .8rem !important
    }
</style>

<!-- =========== Hero Section Start =========== -->
<div class="hero-section-slider">
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" id="carousel-item1">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title mt-100" data-aos="fade-down" data-aos-duration="2000">
                                <h1>Welcome to Renaissance Holidays.</h1>
                            </div>
                            <div class="text-area mt-10" data-aos="fade-left" data-aos-duration="2000">
                                <h3>Find Flights, Visa, Hotels and Holidays</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="carousel-item2">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title mt-100" data-aos="fade-down" data-aos-duration="2000">
                                <h1>Welcome to Renaissance!</h1>
                            </div>
                            <div class="text-area mt-10" data-aos="fade-left" data-aos-duration="2000">
                                <h3>Find Flights, Visa, Hotels and Holidays</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" id="carousel-item3">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title mt-100" data-aos="fade-down" data-aos-duration="2000">
                                <h1>Welcome to Renaissance!</h1>
                            </div>
                            <div class="text-area mt-10" data-aos="fade-left" data-aos-duration="2000">
                                <h3>Find Flights, Visa, Hotels and Holidays</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Hero Section End =========== -->
<!-- =========== Search Area Start =========== -->
<div class="search-area">
    <div class="search-trip-type d-flex justify-content-center">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="flight-tab" data-bs-toggle="tab"
                        data-bs-target="#flight-tab-pane" type="button" role="tab" aria-controls="flight-tab-pane"
                        aria-selected="true">
                    <i class="bi bi-airplane-engines"></i> Flight
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="hotel-tab" data-bs-toggle="tab" data-bs-target="#hotel-tab-pane"
                        type="button" role="tab" aria-controls="hotel-tab-pane" aria-selected="false">
                    <i class="bi bi-buildings"></i> Hotel
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="holiday-tab" data-bs-toggle="tab" data-bs-target="#holiday-tab-pane"
                        type="button" role="tab" aria-controls="holiday-tab-pane" aria-selected="false">
                    <i class="bi bi-tree"></i> Holiday
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="visa-tab" data-bs-toggle="tab" data-bs-target="#visa-tab-pane"
                        type="button" role="tab" aria-controls="visa-tab-pane" aria-selected="false">
                    <i class="bi bi-clipboard"></i> Visa
                </button>
            </li>
        </ul>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="flight-tab-pane" role="tabpanel" aria-labelledby="flight-tab"
             tabindex="0">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                     aria-labelledby="pills-home-tab" tabindex="0">

                    @using (Html.BeginForm("CreateFlightReservation", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row g-2">
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="form-floating">
                                    <select asp-for="FlightReservation.FlightType" class="form-control floating-control">
                                        <option value="One-Way">One-Way</option>
                                        <option value="Round-Trip">Round-Trip</option>
                                    </select>
                                    <label asp-for="FlightReservation.FlightType"></label>
                                    <span asp-validation-for="FlightReservation.FlightType" class="text-danger fs-7"></span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="form-floating">
                                    <select asp-for="FlightReservation.FlightClass" class="form-control floating-control">
                                        <option value="Economy">Economy</option>
                                        <option value="Premium Economy">Premium Economy</option>
                                        <option value="Business">Business</option>
                                        <option value="First">First</option>
                                    </select>
                                    <label asp-for="FlightReservation.FlightClass"></label>
                                    <span asp-validation-for="FlightReservation.FlightClass" class="text-danger fs-7"></span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="form-floating">
                                    <input asp-for="FlightReservation.DepartureCity" class="form-control " placeholder="">
                                    <label asp-for="FlightReservation.DepartureCity"></label>
                                    <span asp-validation-for="FlightReservation.DepartureCity" class="text-danger fs-7"></span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="form-floating">
                                    <input asp-for="FlightReservation.ArrivalCity" class="form-control " placeholder="">
                                    <label asp-for="FlightReservation.ArrivalCity"></label>
                                    <span asp-validation-for="FlightReservation.ArrivalCity" class="text-danger fs-7"></span>
                                </div>
                            </div>
                        </div>

                        <div id="show_input" style="display: none;">
                            <div class="row g-2">
                                <div class="col-lg-3 col-md-12 col-sm-12">
                                    <div class="form-floating">
                                        <input asp-for="FlightReservation.FromDate" class="form-control " placeholder="">
                                        <label asp-for="FlightReservation.FromDate"></label>
                                        <span asp-validation-for="FlightReservation.FromDate" class="text-danger fs-7"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12">
                                    <div class="form-floating">
                                        <input asp-for="FlightReservation.ToDate" class="form-control " placeholder="">
                                        <label asp-for="FlightReservation.ToDate"></label>
                                        <span asp-validation-for="FlightReservation.ToDate" class="text-danger fs-7"></span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-12">
                                    <div class="form-floating">
                                        <input asp-for="FlightReservation.Adult" class="form-control " placeholder="">
                                        <label asp-for="FlightReservation.Adult"></label>
                                        <span asp-validation-for="FlightReservation.Adult" class="text-danger fs-7"></span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-12">
                                    <div class="form-floating">
                                        <input asp-for="FlightReservation.Child" class="form-control " placeholder="">
                                        <label asp-for="FlightReservation.Child"></label>
                                        <span asp-validation-for="FlightReservation.Child" class="text-danger fs-7"></span>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-12">
                                    <div class="form-floating">
                                        <input asp-for="FlightReservation.Infants" class="form-control " placeholder="">
                                        <label asp-for="FlightReservation.Infants"></label>
                                        <span asp-validation-for="FlightReservation.Infants" class="text-danger fs-7"></span>
                                    </div>
                                </div>



                                <div class="col-lg-3 col-md-12 col-sm-12">
                                    <div class="form-floating">
                                        <input asp-for="FlightReservation.ClientName" class="form-control " placeholder="Your name">
                                        <label asp-for="FlightReservation.ClientName"></label>
                                        <span asp-validation-for="FlightReservation.ClientName" class="text-danger fs-7"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12">
                                    <div class="form-floating">
                                        <input asp-for="FlightReservation.EmailAddress" class="form-control " placeholder="Email address">
                                        <label asp-for="FlightReservation.EmailAddress"></label>
                                        <span asp-validation-for="FlightReservation.EmailAddress" class="text-danger fs-7"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12">
                                    <div class="form-floating">
                                        <input asp-for="FlightReservation.ContactNumber" class="form-control " placeholder="Mobile Number">
                                        <label asp-for="FlightReservation.ContactNumber"></label>
                                        <span asp-validation-for="FlightReservation.ContactNumber" class="text-danger fs-7"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <div class="form-floating">
                                            <input asp-for="FlightReservation.AlternativeContact" class="form-control " placeholder="">
                                            <label asp-for="FlightReservation.AlternativeContact"></label>
                                        </div>
                                        <span asp-validation-for="FlightReservation.AlternativeContact" class="text-danger fs-7"></span>
                                    </div>
                                    <input hidden asp-for="FlightReservation.Status" value="Pending">
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label></label>
                                        <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-ticket me-2"></i> Book A Flight</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="hotel-tab-pane" role="tabpanel" aria-labelledby="hotel-tab" tabindex="0">
            @using (Html.BeginForm("CreateHotelReservation", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="row g-2">

                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="form-group">
                            <div class="form-floating">
                                <input asp-for="HotelReservation.CityName" class="form-control" placeholder="">
                                <label asp-for="HotelReservation.CityName"></label>
                            </div>
                            <span asp-validation-for="HotelReservation.CityName" class="text-danger fs-7"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="form-group">
                            <div class="form-floating">
                                <input asp-for="HotelReservation.PreferenceHotel" class="form-control" placeholder="">
                                <label asp-for="HotelReservation.PreferenceHotel"></label>
                            </div>
                            <span asp-validation-for="HotelReservation.PreferenceHotel" class="text-danger fs-7"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="form-group">
                            <div class="form-floating">
                                <input asp-for="HotelReservation.FromDate" class="form-control" placeholder="">
                                <label asp-for="HotelReservation.FromDate"></label>
                            </div>
                            <span asp-validation-for="HotelReservation.FromDate" class="text-danger fs-7"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="form-floating">
                            <input asp-for="HotelReservation.ToDate" class="form-control" placeholder="">
                            <label asp-for="HotelReservation.ToDate"></label>
                            <span asp-validation-for="HotelReservation.ToDate" class="text-danger fs-7"></span>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="form-floating">
                            <input asp-for="HotelReservation.Adult" class="form-control" placeholder="">
                            <label asp-for="HotelReservation.Adult"></label>
                            <span asp-validation-for="HotelReservation.Adult" class="text-danger fs-7"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="form-floating">
                            <input asp-for="HotelReservation.Child" class="form-control" placeholder="">
                            <label asp-for="HotelReservation.Child"></label>
                            <span asp-validation-for="HotelReservation.Child" class="text-danger fs-7"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">

                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">

                    </div>


                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="form-floating">
                            <input asp-for="HotelReservation.ClientName" class="form-control form-control-sm" placeholder="Your name">
                            <label asp-for="HotelReservation.ClientName"></label>
                            <span asp-validation-for="HotelReservation.ClientName" class="text-danger fs-7"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="form-floating">
                            <input asp-for="HotelReservation.EmailAddress" class="form-control form-control-sm" placeholder="Email address">
                            <label asp-for="HotelReservation.EmailAddress"></label>
                            <span asp-validation-for="HotelReservation.EmailAddress" class="text-danger fs-7"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="form-floating">
                            <input asp-for="HotelReservation.ContactNumber" class="form-control form-control-sm" placeholder="Mobile Number">
                            <label asp-for="HotelReservation.ContactNumber"></label>
                            <span asp-validation-for="HotelReservation.ContactNumber" class="text-danger fs-7"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="form-floating">
                            <input asp-for="HotelReservation.AlternativeContact" class="form-control form-control-sm" placeholder="Alternative Number">
                            <label asp-for="HotelReservation.AlternativeContact"></label>
                            <span asp-validation-for="HotelReservation.AlternativeContact" class="text-danger fs-7"></span>
                        </div>
                        <input hidden asp-for="HotelReservation.Status" value="Pending">
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label></label>
                            <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-ticket me-2"></i> Book A Hotel</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="holiday-tab-pane" role="tabpanel" aria-labelledby="holiday-tab" tabindex="0">
            <form action="">
                <div class="row g-2 mt-2">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row g-2">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <input type="text" class="form-control"
                                       placeholder="Destination (Ex.  Cox's Bazar)">
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <div>
                            <button type="button" id="addMoreFlight">
                                <i class="bi bi-plus-lg"></i> Add more
                                Flight
                            </button>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-warning">
                                <i class="bi bi-search"></i>
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="visa-tab-pane" role="tabpanel" aria-labelledby="visa-tab" tabindex="0">
            <form>
                <div class="row g-2 mt-2">
                    <div class="col-lg-11 col-md-12 col-sm-12">
                        <div class="row g-2">
                            <div class="col-lg-3 col-md-12 col-sm-12">

                                <input type="text" class="form-control" placeholder="Location (Ex.  Cox's Bazar)">
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <input type="text" class="form-control" placeholder="Traveller (Ex.  2)">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-12 col-sm-12">
                        <button type="submit" class="btn btn-warning"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- =========== Search Area End =========== -->
<!-- =========== Exclusive Offer Start =========== -->
<div class="container exclusive-offer">
    <div class="heading">
        <h2>Exclusive Offers</h2>
    </div>
    <div class="row mt-4" id="exclusive-offer">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="offer-card">
                <a href="#">
                    <img src="~/images/exclusive-offer/india.jpg" alt="">
                </a>
                <div class="overlay">
                    <div class="content">
                        <h5 class="fw-bold">Golden Triangle</h5>
                        <p class="mt-2 mb-2">Delhi, Agra, Ajmer, Aaipur <br>5 night,6 days only 49,900/-</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="offer-card">
                <a href="#">
                    <img src="~/images/exclusive-offer/malaysia.jpg" alt="">
                </a>
                <div class="overlay">
                    <div class="content">
                        <h5 class="fw-bold">Malaysia Tourist Visa</h5>
                        <p class="mt-2 mb-2">Visa Price Only 5000/-</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="offer-card">
                <a href="#">
                    <img src="~/images/exclusive-offer/canada.jpg" alt="">
                </a>
                <div class="overlay">
                    <div class="content">
                        <h5 class="fw-bold">Tourist Visa </h5>
                        <p class="mt-2 mb-2">Canada</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="offer-card">
                <a href="#">
                    <img src="~/images/exclusive-offer/nepal.jpg" alt="">
                </a>
                <div class="overlay">
                    <div class="content">
                        <h5 class="fw-bold">Kathmandu Nagarkot tour</h5>
                        <p class="mt-2 mb-2">3 Nights 4 Days <br> 44,500/-</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="offer-card">
                <a href="#">
                    <img src="~/images/exclusive-offer/dubai_aza.jpg" alt="">
                </a>
                <div class="overlay">
                    <div class="content">
                        <h5 class="fw-bold">Visit 2 countries</h5>
                        <p class="mt-2 mb-2">Dubai &  Azerbaijan <br> Only 1,49,900/-</p>
                        <a href="#">View Details</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- =========== Exclusive Offer End =========== -->
<!-- =========== Explore Bangladesh Start =========== -->
<div class="explore-bd">
    <div class="container">
        <div class="heading">
            <h2>Explore Bangladesh</h2>
        </div>
        <p class="mt-2">
            Prepare to experience Bangladesh's rich culture and explore the majestic beauties of Cox’s Bazar, Sylhet, Bandarban, Sajek Valley, Rangamati etc. Plan your trip now!
        </p>
        <div class="row g-4 mt-4" id="explore-bd">
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/inbound/kuakata.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Kuakata</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/inbound/bandarbans.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Bandarbans</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/inbound/saint-martin.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Saint Martin</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/inbound/sajek-valley.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Sajek Valley</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/inbound/rangamati.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Rangamati</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/inbound/cox-b.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Cox's Bazar</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/inbound/sundarbans.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Sundarbans</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Explore Bangladesh End =========== -->
<!-- =========== Search Airlines Start =========== -->
<div class="s-airlines">
    <div class="container">
        <div class="heading">
            <h2>Search Top Airlines</h2>
        </div>
        <p class="mt-2">
            Renaissance user-friendly platform connects you to top airlines instantly. Enjoy a comfortable and hassle-free journey on any destination and get tickets of top airlines easily
        </p>
        <div class="row g-2 mt-4">
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/biman-bangladesh.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">Air Astra</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/airastra.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">US-Bangla Airlines</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/airastra.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">NOVOAIR</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/airastra.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">Biman Bangladesh Airlines</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/airastra.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">Qatar Airways</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/airastra.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">Turkish Airlines</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/airastra.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">Singapore Airlines</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/airastra.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">Emirates</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/airastra.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">Malaysia Airlines</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/airastra.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">Vistara</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/airastra.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">Etihad Airways</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="d-flex gap-3 align-items-center">
                                <div class="logo">
                                    <!-- <img src="~/images/s-airlines/airastra.png" alt=""> -->
                                    <i class="bi bi-airplane-engines"></i>
                                </div>
                                <div class="name">
                                    <h6 class="fw-bold">Cathay Pacific Airways</h6>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-chevron-right fw-bold"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

<!-- =========== Search Airlines Start =========== -->
<!-- =========== Popular Destination Start =========== -->
<div class="p-destination">
    <div class="container">
        <div class="heading">
            <h2>Outbound</h2>
        </div>
        <p class="mt-2">
            Embark on a journey beyond Bangladesh's borders to explore diverse cultures and enchanting landscapes in neighboring countries and beyond. Our expertise lies in arranging worldwide tour packages, with a specialization in destinations
            like Dubai, Qatar, Saudi Arabia, Maldives, Sri Lanka, Nepal, India, Uzbekistan, Thailand, Singapore, Malaysia, Cambodia,
            Vietnam, China, Indonesia, and the Philippines. Additionally, we provide packages to European countries including
            Turkey, Italy, Switzerland, France, Germany, Belgium, and also offer comprehensive USA tour packages
        </p>
        <div class="row g-4 mt-4" id="popular-destination">
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a asp-action="Dubai" asp-controller="Outbound">
                        <img src="~/images/popular-destination/dubai.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Dubai</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/popular-destination/qatar.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Qatar</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/popular-destination/saudia.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Saudi Arabia</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/popular-destination/maldives.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Maldives</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a asp-action="Nepal" asp-controller="Outbound">
                        <img src="~/images/popular-destination/nepal.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">Nepal</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a asp-action="India" asp-controller="Outbound">
                        <img src="~/images/popular-destination/india.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content">
                        <h6 class="text-white fw-bold">India</h6>
                        <span class="text-white">10 Hotels Available</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- =========== Popular Destiantion End =========== -->
<!-- =========== Best Hotels Start =========== -->
<div class="b-hotels">
    <div class="container">
        <div class="heading">
            <h2>Best Hotels for Your Next Trip</h2>
        </div>
        <p class="mt-2">
            Luxurious or budget-friendly hotels, villas or resorts, browse accommodations at ShareTrip that meet the need. Book Long-term or short-term accommodation from our hotel deals.
        </p>
        <div class="row g-2 mt-4" id="b-hotels">
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <img src="~/images/popular-destination/pd-1.jpg" alt="">
                        <div class="card-body">
                            <h6 class="fw-bold">Dubai</h6>
                            <div class="mt-1">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span class="fw-bold">5</span>
                                <span>(100 reviews)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <img src="~/images/popular-destination/pd-1.jpg" alt="">
                        <div class="card-body">
                            <h6 class="fw-bold">Dubai</h6>
                            <div class="mt-1">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span class="fw-bold">5</span>
                                <span>(100 reviews)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <img src="~/images/popular-destination/pd-1.jpg" alt="">
                        <div class="card-body">
                            <h6 class="fw-bold">Dubai</h6>
                            <div class="mt-1">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span class="fw-bold">5</span>
                                <span>(100 reviews)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <img src="~/images/popular-destination/pd-1.jpg" alt="">
                        <div class="card-body">
                            <h6 class="fw-bold">Dubai</h6>
                            <div class="mt-1">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span class="fw-bold">5</span>
                                <span>(100 reviews)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <img src="~/images/popular-destination/pd-1.jpg" alt="">
                        <div class="card-body">
                            <h6 class="fw-bold">Dubai</h6>
                            <div class="mt-1">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span class="fw-bold">5</span>
                                <span>(100 reviews)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Single -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="#">
                    <div class="card">
                        <img src="~/images/popular-destination/pd-1.jpg" alt="">
                        <div class="card-body">
                            <h6 class="fw-bold">Dubai</h6>
                            <div class="mt-1">
                                <span><i class="bi bi-star-fill"></i></span>
                                <span class="fw-bold">5</span>
                                <span>(100 reviews)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</div>
<!-- =========== Best Hotels End =========== -->
<!-- =========== Top Routes Start =========== -->
<div class="top-routes">
    <div class="container">
        <div class="heading">
            <h2 class="text-center">Top Domestic & International Routes</h2>
        </div>
        <p class="mt-2 text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Enim quibusdam
            praesentium, quisquam at expedita! Eos illum corporis dolor, vero id quisquam ipsa explicabo sunt
            repellendus, accusantium suscipit fugiat amet ex alias! Eos cum eligendi non qui quam quae obcaecati,
            laboriosam!
        </p>

        <div class="mt-4">
            <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active rounded-start-pill" id="pills-domestics-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-domestics" type="button" role="tab"
                            aria-controls="pills-domestics" aria-selected="true">
                        Domestic
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-end-pill" id="pills-international-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-international" type="button" role="tab"
                            aria-controls="pills-international" aria-selected="false">
                        International
                    </button>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-domestics" role="tabpanel"
                     aria-labelledby="pills-domestics-tab" tabindex="0">
                    <div class="row g-2 mt-4">
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Cox's Bazar</h6>
                                            <span>Cox's Bazar Airport</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Cox's Bazar</h6>
                                            <span>Cox's Bazar Airport</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Cox's Bazar</h6>
                                            <span>Cox's Bazar Airport</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Cox's Bazar</h6>
                                            <span>Cox's Bazar Airport</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Cox's Bazar</h6>
                                            <span>Cox's Bazar Airport</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Sylhet</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-international" role="tabpanel"
                     aria-labelledby="pills-international-tab" tabindex="0">
                    <div class="row g-2 mt-4">
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Sylhet</h6>
                                            <span>Sylhet Airport</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Sylhet</h6>
                                            <span>Sylhet Airport</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Sylhet</h6>
                                            <span>Sylhet Airport</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Sylhet</h6>
                                            <span>Sylhet Airport</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Sylhet</h6>
                                            <span>Sylhet Airport</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <span>Hazrat Shahjalal...</span>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Sylhet</h6>
                                            <span>Sylhet Airport</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- =========== Top Routes End =========== -->
<!-- =========== Tourist Visa Processing Start =========== -->
<div class="tourist-visa-processing">
    <div class="container">
        <div class="heading">
            <h2>Tourist Visa Processing</h2>
        </div>
        <p class="mt-2">
            Renaissance Holidays provides worldwide visa services. Our expert guidance will help you
            navigate the complexities of visa applica-
            tions, ensuring a seamless travel experience. We offer a wide range of visas, including tourist visas,
            business visas, medical visas and
            student visas. We provide guaranteed visas for certain countries and we can process visas for many other
            countries as well.
        </p>
        <div class="row g-4 mt-4 justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/tourist-visa/usa.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">USA</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/tourist-visa/australia.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Australia</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/tourist-visa/canada.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Canada</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/tourist-visa/uk.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">UK</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/tourist-visa/dubai.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Dubai</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/tourist-visa/thailand.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Thailand</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/tourist-visa/singapore.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Singapore</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/tourist-visa/malaysia.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Malaysia</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/tourist-visa/china.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">China</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="#">
                        <img src="~/images/tourist-visa/vietnam.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Vietnam</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Tourist Visa Processing End =========== -->
<!-- =========== Tour Package Start =========== -->
<div class="container tour-package">
    <div class="heading">
        <h2>Tour Package</h2>
    </div>
    <p class="mt-2">
        Renaissance Holidays arranges attractive tour packages worldwide. We take people to the most
        historical places in the
        world. We provide national and international budget tour packages as well as luxury tour packages. Privae,
        Group and
        customized tour packages are available at Renaissance Holidays.
    </p>
    <h5 class="fw-bold mt-4">Our Tour Package Service Includes:</h5>
    <div class="row g-4 mt-4 justify-content-center">
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="photo">
                    <a href="#">
                        <img src="~/images/cc-2.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="#" class="text-white text-center fw-bold w-100">Round Air Ticket</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="photo">
                    <a href="#">
                        <img src="~/images/tour-package/hotel.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="#" class="text-white text-center fw-bold w-100">Hotel Reservation</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="photo">
                    <a href="#">
                        <img src="~/images/tour-package/at.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="#" class="text-white text-center fw-bold w-100">Airport Transfer</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="photo">
                    <a href="#">
                        <img src="~/images/tour-package/ss.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="#" class="text-white text-center fw-bold w-100">Sightseeing</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="photo">
                    <a href="#">
                        <img src="~/images/tour-package/vp.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="#" class="text-white text-center fw-bold w-100">Visa Processing</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="photo">
                    <a href="#">
                        <img src="~/images/tour-package/b-f.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="#" class="text-white text-center fw-bold w-100">Breakfast</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="photo">
                    <a href="#">
                        <img src="~/images/tour-package/tg.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="#" class="text-white text-center fw-bold w-100">Tour Guide</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="photo">
                    <a href="#">
                        <img src="~/images/tour-package/dt.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="#" class="text-white text-center fw-bold w-100">Day Tour</a>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    document.getElementById('FlightReservation_FlightType').onchange = function () {
        var nextInputGroup = document.getElementById('show_input');
            nextInputGroup.style.display = this.value ? 'block' : 'none';
        };

    document.addEventListener("DOMContentLoaded", function () {
        var flightTabLink = document.getElementById('flight-tab');
        var showInput = document.getElementById('show_input');
        flightTabLink.addEventListener('click', function () {
            showInput.style.display = 'none';
        });
    });
    </script>

<!-- =========== Tour Package End =========== -->
<!-- In your layout or view header -->
@*@section Scripts {
        <script>
            $(document).ready(function () {
                $('.js-select2').select2({
                    placeholder: 'This is my placeholder',
                    width: 'element', // Automatically sets the width
                    height: 'element',
                    templateResult: formatAirport, // Custom formatting function
                    templateSelection: formatAirport, // Use the same formatting function for selection
                    escapeMarkup: function (markup) {
                        return markup;
                    }
                });

                function formatAirport(airport) {
                    if (!airport.id) {
                        return airport.text;
                    }

                    var airportInfo = airport.text.split('-');
                    var formattedText = '<div class="col-md-12 airport-info">' +
                        '<div class="left-side">' +
                        '<span>' + airportInfo[0] + '</span>' +
                        '</div>' +
                        '<div class="right-side">' +
                        '<div class="upper-part">' +
                        '<span>' + airportInfo[1] + '</span>' +
                        '</div>' +
                        '<div class="lower-part badge">' +
                        '<span class="text-muted truncate">' + airportInfo[2] + ', ' + airportInfo[3] + '</span>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
                    return $(formattedText);


                    //var formattedText = '<div class="col-md-12">' +
                    //    '<span>' + airportInfo[0] + '</span>' +
                    //    '<span>' + airportInfo[1] + '</span>' +
                    //    '<span class="text-muted">' + airportInfo[2] + '</span>' +
                    //    '<span class="text-muted">' + airportInfo[3] + '</span>' +
                    //    '</div>';

                    //return $(formattedText);
                }

                function formatAirportSelection(airport) {
                    return airport.text;
                }
            });
        </script>
        <script>
            $(document).ready(function () {
                $('.hotel-js-select2').select2({
                    placeholder: 'This is my placeholder',
                    width: 'element', // Automatically sets the width
                    height: 'element',
                    templateResult: formatHotel, // Custom formatting function
                    templateSelection: formatHotel, // Use the same formatting function for selection
                    escapeMarkup: function (markup) {
                        return markup;
                    }
                });

                function formatHotel(hotel) {
                    if (!hotel.id) {
                        return hotel.text;
                    }

                    var hotelInfo = hotel.text.split('-');
                    var formattedText = '<div class="col-md-12 airport-info">' +
                        '<div class="left-side">' +
                        '<i class="fas fa-hotel"></i>' +
                        '</div>' +
                        '<div class="right-side">' +
                        '<div class="upper-part">' +
                        '<span>' + hotelInfo[0] + '</span>' +
                        '</div>' +
                        '<div class="lower-part badge">' +
                        '<span class="text-muted truncate">' + hotelInfo[1] + ', ' + hotelInfo[2] + '</span>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
                    return $(formattedText);
                }

                function formatAirportSelection(hotel) {
                    return hotel.text;
                }
            });
        </script>
    }*@