
@{
    ViewData["Title"] = "OurMission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">Our Mission</h3>
            </div>
            <div class="mt-10">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Our Mission</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== Our Mission Area Start =========== -->
<div class="mission-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h1 class="fw-bold">Our Mission</h1>
                <p class="mt-3">
                    Our mission is to connect travelers with the world's
                    diverse wonders, fostering a deeper appreciation for
                    different cultures and environments while positively
                    impacting the destinations we visit.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="text-end mt-60 photo">
                    <img src="~/images/about-us.PNG" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Our Mission Area End =========== -->
