
@{
    ViewData["Title"] = "OurManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">Management Message</h3>
            </div>
            <div class="mt-10">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Management Message</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== Management Message Area Start =========== -->
<div class="m-message-area">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex gap-4 align-items-center">
                            <div class="photo">
                                <img src="~/images/management/ca.PNG" alt="">
                            </div>
                            <div class="flex-fill">
                                <h5 class="fw-bold">NURUZZAMAN HOSSAIN</h5>
                                <span class="d-block">Cheif Advisor</span>
                            </div>
                        </div>
                        <p>
                            Our commitment to excellence extends far beyond
                            meticulous planning; it resides in our expertise to
                            curate flawless experiences that captivate your senses
                            and elevate your spirit. Every itinerary we design
                            stands as a testament to our unwavering dedication
                            to precision and personalized service. Our operational
                            philosophy revolves around efficiency, innovation, and
                            collaborative teamwork behind the scenes. To ensure
                            each traveler encounters not just an exceptional but
                            also a forward-looking experience, we persistently
                            embrace modern technologies and stay attuned to
                            evolving industry trends. Our mission is to create mo-
                            ments that exceed expectations, setting new bench-
                            marks in the realm of travel experiences.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex gap-4 align-items-center">
                            <div class="photo">
                                <img src="~/images/management/md.PNG" alt="">
                            </div>
                            <div class="flex-fill">
                                <h5 class="fw-bold">OMAR FARUQ</h5>
                                <span class="d-block">Managing Director</span>
                            </div>
                        </div>
                        <p>
                            Embark with us on an exploration of the world's mar-
                            vels, crafting experiences that transcend your expec-
                            tations and become an integral part of your life's tap-
                            estry. We are dedicated to ensuring that your journey
                            not only meets but surpasses your every expectation,
                            warmly welcoming you to an experience nothing
                            short of extraordinary.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex gap-4 align-items-center">
                            <div class="photo">
                                <img src="~/images/management/od.PNG" alt="">
                            </div>
                            <div class="flex-fill">
                                <h5 class="fw-bold">BALAL HOSSAIN TALUKDER</h5>
                                <span class="d-block">Operational Director</span>
                            </div>
                        </div>
                        <p>
                            At Renaissance Holidays, our operational endeavors
                            are geared towards fostering enduring connections
                            with every traveler, transcending mere destinations.
                            We craft enduring memories, aspiring to be more
                            than mere planners of places to visit. Your delight is
                            the foundation of our operations. Each choice and
                            detail is meticulously curated to ensure that your jour-
                            ney with us transcends the ordinary trip; it's an odys-
                            sey of transformation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex gap-4 align-items-center">
                            <div class="photo">
                                <img src="~/images/management/md.PNG" alt="">
                            </div>
                            <div class="flex-fill">
                                <h5 class="fw-bold">ARAFAT AL MAHMUD</h5>
                                <span class="d-block">Chief Executive Officer</span>
                            </div>
                        </div>
                        <p>
                            Embark with us on an exploration of the world's mar-
                            vels, crafting experiences that transcend your expec-
                            tations and become an integral part of your life's tap-
                            estry. We are dedicated to ensuring that your journey
                            not only meets but surpasses your every expectation,
                            warmly welcoming you to an experience nothing
                            short of extraordinary.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Management Message Area End =========== -->
