<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity;
@using static FlyNest.SharedKernel.Entities.Identities.IdentityModel;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var appUser = await UserManager.GetUserAsync(User);
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]-EstateEase</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @await Html.PartialAsync("Backend/_AdminlteStyles")

    @RenderSection("Styles", required: false)
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
    <div class="wrapper" style="font-size:14px;">
        <partial name="Backend/_AdminlteMainHeader" model="appUser" />
        <partial name="Backend/_AdminlteMainSidebar" />
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <partial name="Backend/_AdminlteFooter" />
    </div>

    @await Html.PartialAsync("Backend/_AdminlteScripts")

    @RenderSection("Scripts", required: false)

</body>
</html>
