<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Renaissance Holidays</title>

    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicon_io/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="512x512" href="~/images/favicon_io/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon_io/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon_io/favicon-32x32.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @await Html.PartialAsync("Frontend/_Styles")

    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <header>

        <div class="preloader" id="preloader">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>

        @await Html.PartialAsync("Frontend/_Navbar")
    </header>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    @await Html.PartialAsync("Frontend/_Footer")

    @*<a class="social-icons social-whatsapp" target="_blank" title="Whatsapp" href="whatsapp://send?phone=+8801958618221">
            <i class="fa-brands fa-square-whatsapp"></i>

        </a>
        <a class="social-icons social-messenger" target="_blank" title="Messanger" href="https://www.facebook.com/messages/t/101747419491888">
            <i class="fa-brands fa-facebook-messenger"></i>
        </a>*@

    <div class="chat-icon">
        <ul>
            <li class="messenger">
                <a class="social-icons social-messenger" target="_blank" title="Messanger" href="https://www.facebook.com/messages/t/101747419491888">
                    <i class="fab fa-facebook-messenger"></i>
                </a>                
            </li>
            <li class="whatsapp">
                <a class="social-icons social-whatsapp" target="_blank" title="Whatsapp" href="whatsapp://send?phone=+8801958618221">
                    <i class="fab fa-whatsapp-square"></i>
                </a>                
            </li>
        </ul>
    </div>

    <button type="button" id="scroll-bottom-top" title="Go to Top">
        <i class="bi bi-chevron-up"></i>
    </button>

    <script>

        setTimeout(() => {
            document.getElementById('preloader').style.display = "none"
        }, 2500)

    </script>


    @await Html.PartialAsync("Frontend/_Scripts")


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
