@{
    ViewData["Title"] = "Dubai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section dubai-breadcrumb">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">Dubai</h3>
            </div>
            <div class="mt-10">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Dubai</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== Dubai Area Start =========== -->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h1 class="fw-bold">Dubai</h1>
                <h3 class="fw-bold mt-3"> 6-Night, 7-Day trip to the Dubai, Abu Dhabi & Uzbekistan </h3>
                <h4 class="my-3 fw-bold"> The package cost is BDT 1,49,900/- (Group Size: 2 Persons) </h4>
                <h5 class="my-3 fw-bold">Tour Highlights:</h5>
                <ul class="inclusion">
                    <li class="mt-2"> ➔ Day 01: Arrival in Abu Dhabi, City Tour of Abu Dhabi </li>
                    <li class="mt-2"> ➔ Day 02: Dubai City Tour and enjoy  </li>
                    <li class="mt-2">➔ Day 03: Dubai free day</li>
                    <li class="mt-2">➔ Day 04: Tashkent Arrival & Free day </li>
                    <li class="mt-2">➔ Day 05: Tashkent City Tour </li>
                    <li class="mt-2">➔ Day 06: Free day in the Tashkent</li>
                    <li class="mt-2">➔ Day 07: Departure</li>
                </ul>
                <h5 class="my-3 fw-bold">Details itinerary:</h5>
                <h6 class="fw-bold"> Day 01: Arrival in Abu Dhabi </h6>

                <p class="my-3">
                    Arrive in Abu Dhabi and transfer to your hotel. After check-in, embark on a city tour of Abu Dhabi.
                    Visit the iconic Sheikh Zayed Grand Mosque, Emirates Palace, and the beautiful Corniche.
                    Enjoy the evening at leisure to explore the city or relax. Overnight stay in Abu Dhabi.


                </p>
                <h6 class="fw-bold"> Day 02-03: Dubai City Tour Enjoy </h6>
                <p class="my-2">
                    After breakfast, check out from your hotel in Abu Dhabi. Depart for Dubai and check into your hotel.
                    Enjoy a city tour of Dubai, visiting famous attractions such as Burj Khalifa, Dubai Mall, Palm Jumeirah, and Dubai Marina.

                </p>
                <h6 class="fw-bold"> Day 04-06: Tashkent Tour </h6>
                <p class="my-2">
                    Explore the vibrant city of Tashkent over the next four nights.
                    Visit Khast Imam Square, where you can see the famous Quran of Caliph Uthman and the stunning Tilla Sheikh Mosque.
                    Explore Chorsu Bazaar, a bustling market offering a variety of goods and local flavours.
                    Discover the history and culture of Uzbekistan at Amir Timur Museum and Independence Square.
                    Enjoy leisure time to explore the city, try local cuisine, or shop for souvenirs.
                    Overnight stay in Tashkent.

                </p>
                <h6 class="fw-bold"> Day 07: Departure </h6>
                <p class="my-2">
                    After breakfast, check out from your hotel in Tashkent. Transfer to the airport for your return flight back home.
                </p>
                <h4 class="fw-bold">Hotel Recommendations: </h4>
                <div class="mt-2">
                    <table style="background-color:none"  class="table table-borderless">
                        <tr>
                            <th>Uzbekistan</th>
                            <td>:</td>
                            <td> Western Suites Hotel or Similar  </td>
                        </tr>
                        <tr>
                            <th>Dubai</th>
                            <td>:</td>
                            <td> Fortune Pearl Hotel or Similar  </td>
                        </tr>
                        <tr>
                            <th>Abu Dhabi</th>
                            <td>:</td>
                            <td>  Centro Capital Centre or Similar  </td>
                        </tr>
                    </table>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="text-end mt-60 ">
                    <img class="img-fluid" src="~/images/outbound/dubai.PNG" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Dubai Area End =========== -->
