@{
    ViewData["Title"] = "India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section india-breadcrumb">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">India</h3>
            </div>
            <div class="mt-10">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>India</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== India Area Start =========== -->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h1 class="fw-bold">India</h1>
                <h3 class="fw-bold mt-3">
                    Kashmir Tour for 4N/5D valid for Nov/Dec, 2023.(2 /4/ 6 Pax) (land package) 3* Package Per Person-25500/=
                    4* Package Per Person-31500/=
                </h3>
                <h5 class="my-3 fw-bold">Tour Itinerary:</h5>
                <h6 class="fw-bold"> Day 1: Arrive Srinagar </h6>

                <p>
                    Upon arrival, meet our representative transfer to the Hotel. Spend the day at leisure on boulevard road which is one of the most famous roads in Srinagar for tourists and is situated around the Dal Lake surrounded by Zabarwan mountain ranges and also enjoy a 1 hour Shikara Ride in the beautiful Lake.
                </p>
                <h6 class="fw-bold my-3"> Overnight stay in Hotel </h6>

                <h6 class="fw-bold mt-2"> Day 2: Srinagar – Pahalgam - Srinagar (86 kms / 2:30 hours approximately) </h6>
                <p>
                    After Breakfast drive to Pahalgam “Valley of Shepherds”.
                    In Pahalgam enjoy the nature and admire the beauty of this quiet place and be in awe of the serene surroundings.
                    One can also enjoy a pony ride to Bisran or can hire a local taxi to visit Aru,
                    Chandanwadi or if you are an avid nature lover you may take pleasure in a peaceful walk along the river Lidder.
                    Pahalgam is famous for some trekking routes also & is the base camp for Amarnath Pilgrimage.
                </p>
                <h6 class="fw-bold my-3"> Drive back to Srinagar. Overnight stay in Hotel </h6>
                <h6 class="fw-bold"> Day 3: Srinagar - Gulmarg - Srinagar (56 kms / 2 hours approximately) </h6>
                <p>
                    After breakfast drive to Gulmarg “Meadow of Flowers” 2730 Mts. above sea level.
                    The distance of 56 kms will be covered in about 2 hrs.
                    Gulmarg has one of the best Ski slopes in the world and the highest golf course of the world with 18 holes.
                    One can also have the view of Nanga Parbhat if weather permits. The view enroute from Tangmarg to Gulmarg is fascinating.
                    One can also have a short trek upto Khilangmarg which can be covered in about 3 to 4 hrs or enjoy the scenic view of Kongdori on
                    a Cable Car Known as Gondola.
                </p>
                <h6 class="fw-bold my-3"> Drive back to Srinagar. Overnight stay in Hotel </h6>
                <h6 class="fw-bold"> Day 4: Srinagar Local Sightseeing </h6>
                <p>
                    After breakfast, enjoy the site scene of the famous Mughal Gardens Cheshma Shahi “Royal Spring”
                    Shalimar “Garden of Love”
                    Nishat Garden “Garden of Pleasure” Shankaracharya Temple.
                    On return visit a local Handicrafts Showroom for hand-knotted specialty silken carpets, shawls, jewelry ornaments.
                </p>
                <h6 class="fw-bold my-3">
                    Overnight stay in Houseboat
                </h6>
                <h6 class="fw-bold"> Day 5: Srinagar - Onward destination. </h6>
                <p>
                    After breakfast get ready for transfer to the Srinagar airport to board your scheduled flight for onward destination
                </p>
                <h6 class="fw-bold my-3">
                    Tour ends...<br />
                    Hope the above information is clear and in order.
                </h6>

                <h6 class="fw-bold"> Hotels using 3* </h6>
                <p>
                    1 Night Deluxe Houseboat - Srinagar<br />
                    3 Nights Hotel Grand Fortune/ Regal Palace or Similar – Srinagar
                </p>
                <h6 class="fw-bold"> Hotels using 4* </h6>
                <p>
                    1 Night Super Deluxe Houseboat - Srinagar<br />
                    3 Nights Hotel Arison / Palm Spring or Similar – Srinagar
                </p>

                <h5 class="my-3 fw-bold">The Above Cost Includes:</h5>
                <ul class="inclusion">
                    <li> &#10070; Hotel/Houseboat Accommodation </li>
                    <li class="mt-2">  &#10070; Daily breakfast and dinner </li>
                    <li class="mt-2">  &#10070; Arrival and Departure from Srinagar Airport </li>
                    <li class="mt-2">  &#10070; Sedan for 2 Pax/ Innova for 4- 6 Pax for transfers as per Itinerary </li>
                    <li class="mt-2">  &#10070; SS of Mughal Gardens </li>
                    <li class="mt-2">  &#10070; 1 hr Shikara ride in Dallake </li>
                    <li class="mt-2">  &#10070; Driver Charges, Toll, Parking included </li>
                    <li class="mt-2">  &#10070; Meeting & Assistance on Arr. / Dept. by our representative </li>
                </ul>
                <h5 class="my-3 fw-bold">The Above Cost Doesn’t Includes:</h5>
                <ul class="exclusion">
                    <li class="mt-2">  &#10070; Expenses of personal Nature such as tips, laundry, telephone, table drinks, beverages etc </li>
                    <li class="mt-2">  &#10070; Cable car ride (Gondola) in Gulmarg. Pony ride in Gulmarg / Pahalgam </li>
                    <li class="mt-2">  &#10070; Trip to ABC valley in pahalgam, Zero points & Zojila pass in sonmarg as it is done by union vehicle </li>
                    <li class="mt-2">  &#10070; Service of a guide, Entry tickets & other Misc. Charges </li>
                    <li class="mt-2">  &#10070; Any other services not in the programme  </li>
                    <li class="mt-2">  &#10070; Airfare </li>
                </ul>
                <h5 class="my-3 fw-bold">Important points to note:</h5>
                <ul class="exclusion">

                    <li class="mt-2">  &#10070; Cable car ticket booking has to be pre booked cannot be available on spot. </li>
                    <li class="mt-2">  &#10070; At Gulmarg vehicles will be stopped at Parking – from their guests can go by walk, pony, atv, union vehicle. </li>
                    <li class="mt-2">  &#10070; In case vehicles are not allowed to snow at Gulmarg, guests need to hire a chain vehicle to reach Gulmarg from Tangmarg. </li>
                    <li class="mt-2">  &#10070; Pony charges are fixed by pony stands. Charges vary as per location/site scene. </li>
                    <li class="mt-2">  &#10070; In J&K only post-paid mobile networks (BSNL/ Jio/ airtel) will be working. </li>
                    <li class="mt-2">  &#10070; At Jammu airport/railway Station, the person will not be having a Pla Card of guest name, Guest needs to call our representative once he reaches Jammu airport, guest will be handed our representative number in advance. </li>
                    <li class="mt-2">  &#10070; Guests will be given an emergency contact number of our person who will be having </li>
                    <li class="mt-2">  &#10070; Liquor and non-veg are not allowed in katraVaishnodevi. </li>
                    <li class="mt-2">  &#10070; all knowledge of the tour. Guests can contact that person if required. </li>
                    <li class="mt-2">  &#10070; Only 2 liquor shops are in Kashmir, it is suggested to carry liquor with themselves in check-in luggage.  </li>
                </ul>

                
                
                <h6 class="fw-bold"> Payments System: </h6>
                <p>
                    Booking-50% <br />
                    After Ticket-Full Payments
                </p>
                
                
                <h6 class="fw-bold"> Family payments Policy </h6>
                <p>
                    Adults-Full<br/>
                    Child-25%<br/>
                    Infant-75%<br/>
                </p>

                <h6 class="fw-bold"> Mobile Number: </h6>
                <p>
                    01958618220, 01958618221, 01958618223, 01958618226, 01958618229
                </p>


            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="text-end mt-60 photo">
                    <img src="~/images/outbound/kashmir.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== India Area End =========== -->
