
@{
    ViewData["Title"] = "Maldives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section maldives-breadcrumb">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">Maldives</h3>
            </div>
            <div class="mt-10">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Maldives</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== Maldives Area Start =========== -->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h1 class="fw-bold">Maldives</h1>
                <h3 class="fw-bold mt-3"> Maldives & Srilanka (4 Nights 5 Days) Maldives & Srilanka (3N + 1N) </h3>
                <h5 class="my-3 fw-bold">
                    Group Size: 2/4 Persons                    
                </h5>
                
                <h5 class="my-3 fw-bold">Day-Wise Tour Itinerary:</h5>
                <h6 class="fw-bold"> Day 01: Arrival Maldives, Check in, Free day </h6>

                <p class="my-3">
                    Fly from Shahjalal Int. Airport, Dhaka to Male International Airport. Upon arrival at the airport, you will meet our local representative who
                    will transfer you to the hotel. Enjoy on your own. Overnight stay at Maafushi.
                </p>
                <h6 class="fw-bold"> Day 02: Free day </h6>
                <p class="my-2">
                    Post Breakfast day is free for leisure. You would also get the opportunity to snorkel in the clear waters of a desert island experience on the beach at additional cost. Overnight at the hotel.
                </p>
                <h6 class="fw-bold"> Day 03: Arrival Hulhumlae </h6>
                <p class="my-2">
                    Check in, Free day, enjoy your moment in city, go for shopping & others
                </p>
                <h6 class="fw-bold"> Day 04: Arrival Sri lanka: </h6>
                <p class="my-2">
                    Take a city tour to explore the capital city of Sri Lanka, with its captivating buildings, parks, monuments, museum, iconic temples and great shopping. After completing the tour you will be transferred to the hotel, check in & time to relax.
                </p>
                <h6 class="fw-bold"> Day 05: Arrival Dhaka </h6>
                <p class="my-2">
                    Have breakfast at the hotel and be ready for your flight to Dhaka. After the check out from the hotel, our driver will pick you up in time for your flight back to Dhaka.
                </p>
                <h3 class="fw-bold">End of the tour, hope you enjoyed the services of Renaissance Holidays. </h3>
                
                <p class="mt-3"><strong><span style="font-size:24px;">Hotel Hulhumale:</span></strong> Noomoo or similar</p>
                <p class="mt-2"><strong><span style="font-size:24px;">Hotel Maafushi:</span></strong> Icom Marina or similar</p>
                <p class="mt-2"><strong><span style="font-size:24px;">Hotel Sri Lanka:</span></strong> The Best Western or Similar Hotel </p>
                <p class="mt-2"><strong><span style="font-size:24px;">Airlines:</span></strong> Sri Lankan Air (UL)</p>
                

                <ul class="inclusion mt-5">
                    <h3 class="fw-bold">Holiday Inclusions:</h3>
                    <li class="mt-4"> • Airfare </li>
                    <li class="mt-2"> • Hotel Accommodation </li>
                    <li class="mt-2"> • Breakfast </li>
                    <li class="mt-2"> • Airport Transfer </li>
                    <li class="mt-2"> • Taxes and service charges </li>
                    <li class="mt-2"> • City Tour In Sri Lanka </li>
                    
                </ul>
                <ul class="inclusion mt-5">
                    <h3 class="fw-bold">Holiday Exclusions:</h3>
                    <li class="mt-4"> • Personal Expense </li>
                    <li class="mt-2"> • Things which are not included in Inclusions section Booking Policy </li>
                    <li class="mt-2"> • This Package Ready for 2-4 Persons. </li>
                    <li class="mt-2"> • Booking Advance - 50% </li>
                    
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="text-end mt-60 photo">
                    <img src="~/images/outbound/maldives-image (2).jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Maldives Area End =========== -->

