
@{
    ViewData["Title"] = "Nepal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section nepal-breadcrumb">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">Nepal</h3>
            </div>
            <div class="mt-10">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Nepal</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== Nepal Area Start =========== -->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h1 class="fw-bold">Nepal</h1>
                <h3 class="fw-bold mt-3"> Kathmandu – 3 Nights 4 days Per-person-44900 </h3>
                <h5 class="my-3 fw-bold">Inclusions:</h5>
                <ul class="inclusion">
                    <li> - 2 Nights Stay at Kathmandu Hotel </li>
                    <li class="mt-2"> - Return Airfare </li>
                    <li class="mt-2"> - 1 night stay at Nagarkot Hotel / Resort </li>
                    <li class="mt-2"> - Meal Plan: Breakfast </li>
                    <li class="mt-2"> - Sightseeing as per Itinerary </li>
                    <li class="mt-2"> - Vehicle as per pax. Size </li>
                    <li class="mt-2"> - All transfers and tours as per itinerary </li>
                    <li class="mt-2"> - All applicable government taxes </li>
                </ul>
                <h5 class="my-3 fw-bold">Itinerary:</h5>
                <h6 class="fw-bold"> Day 1: Arrival and free day at Kathmandu </h6>

                <p class="my-3">
                    Welcome at Kathmandu International airport by our representative, Transfer to Hotel –After check in free time enjoy on your own, Stay at Kathmandu Hotel.
                </p>
                <h6 class="fw-bold"> Day 2: Kathmandu Sightseeing </h6>
                <p class="my-2">
                    After breakfast at hotel around 10 please be ready at lobby for Kathmandu city half day sightseeing. On this day, we will cover Swayambhunath and Kathmandu Durbar Square. After sightseeing our car will drop you back to hotel.
                </p>
                <h6 class="fw-bold"> Day 3: Kathmandu to Nagarkot - Over night </h6>
                <p class="my-2">
                    After breakfast at hotel, transfer to Nagarkot - On the way Bhaktapur sightseeing, stay
                </p>
                <h6 class="fw-bold"> Day 4: Departure </h6>
                <p class="my-2">
                    Enjoy early morning sunrise from hotel, Breakfast at hotel, departure transfer to airport as per flight schedule.
                </p>
                <h4 class="fw-bold">Hotel </h4>
                <p class="mt-2">
                    Kathmandu-Himalayan Villa or Similar Nagarkot-Hotel Arts or Similar
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="text-end mt-60 photo">
                    <img src="~/images/about-us.PNG" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Nepal Area End =========== -->

