
@{
    ViewData["Title"] = "SaudiArabia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- =========== Breadcumb Start =========== -->
<div class="bredcumb-section saudi-breadcrumb">
    <div class="overlay"></div>
    <div class="bredcumb-text position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="page-title">
                <h3 class="fw-bold">Saudi Arabia</h3>
            </div>
            <div class="mt-10">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <span><i class="bi bi-chevron-right mx-1" style="color: var(--primary-color);"></i></span>
                <span>Saudi Arabia</span>
            </div>
        </div>
    </div>
</div>
<!-- =========== Breadcumb End =========== -->
<!-- =========== Saudi Arabia Area Start =========== -->
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h1 class="fw-bold">Saudi Arabia</h1>
                <h3 class="fw-bold mt-3"> Umrah-Dubai group Package </h3>
                <h3 class="my-3 fw-bold">10 Days 11 Nights</h3>

                <h5 class='my-3'>A hotel is subject to availability.</h5>
                <h5><u>Package Price inclusive of;-</u></h5>

                <ul>
                    <li class="mt-2">&#10070;  Dhaka to jeddah by air arabia Airlines.</li>
                    <li class="mt-2">&#10070;  Jeddah Airport to Makkah Hotel by car.</li>
                    <li class="mt-2">&#10070;  4 Nights Hotel at Makkah.</li>
                    <li class="mt-2">&#10070;  1 Half Day Ziayarah at Makkah.</li>
                    <li class="mt-2">&#10070;  Makkah to Madina Transfer By Private Car.</li>
                    <li class="mt-2">&#10070;  3 Nights Hotel Accommodation at Madinah. </li>
                    <li class="mt-2">&#10070;  1 Half Day Ziayarah at Madinah</li>
                    <li class="mt-2">&#10070;  Madinah to Dubai by air arabia Airlines</li>
                    <li class="mt-2">&#10070;  Transfer from Dubai Airport to Dubai Hotel by Private Car</li>
                    <li class="mt-2">&#10070;  3 Nights Hotel Accommodation at Dubai</li>
                    <li class="mt-2">&#10070;  Dubai Half Day city tour</li>
                    <li class="mt-2">&#10070;  Everyday Buffet Breakfast at Dubai</li>
                    <li class="mt-2">&#10070;  Umrah & Dubai Visa Fee</li>
                    <li class="mt-2">&#10070;  All Applicable Taxes.</li>
                </ul>
             
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="text-end mt-60 photo">
                    <img src="~/images/saudi2-image.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Saudi Arabia Area End =========== -->
